@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../fonts/sourcesanspro-semibold.eot");
  src: url("../fonts/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold.woff") format("woff"), url("../fonts/sourcesanspro-semibold.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shadows-into-light';
  src: url("../fonts/shadowsintolighttwo-regular.eot");
  src: url("../fonts/shadowsintolighttwo-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shadowsintolighttwo-regular.woff") format("woff"), url("../fonts/shadowsintolighttwo-regular.ttf") format("ttf"), url("../fonts/shadowsintolighttwo-regular.svg#shadows_into_light_tworegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko-bold';
  src: url("../fonts/teko-bold.eot");
  src: url("../fonts/teko-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/teko-bold.woff") format("woff"), url("../fonts/teko-bold.ttf") format("ttf"), url("../fonts/teko-bold.svg#tekobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko-medium';
  src: url("../fonts/teko-medium.eot");
  src: url("../fonts/teko-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/teko-medium.woff") format("woff"), url("../fonts/teko-medium.ttf") format("ttf"), url("../fonts/teko-medium.svg#tekomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko';
  src: url("../fonts/teko-regular.eot");
  src: url("../fonts/teko-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/teko-regular.woff") format("woff"), url("../fonts/teko-regular.ttf") format("ttf"), url("../fonts/teko-regular.svg#teko_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko-semibold';
  src: url("../fonts/teko-semibold.eot");
  src: url("../fonts/teko-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/teko-semibold.woff") format("woff"), url("../fonts/teko-semibold.ttf") format("ttf"), url("../fonts/teko-semibold.svg#tekosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk';
  src: url("../fonts/chalk.eot");
  src: url("../fonts/chalk.eot?#iefix") format("embedded-opentype"), url("../fonts/chalk.woff") format("woff"), url("../fonts/chalk.ttf") format("truetype"), url("../fonts/chalk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  color: #363636;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  outline: 0;
  display: inline-block;
  transition: all 0.3s ease;
  color: #f26650;
}

a:hover, a:focus {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
}

.protectedPage {
  width: 11.5px;
  height: 14px;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  background-size: cover;
  background-image: url("../images/lock-dark.png");
  background-position: center center;
}

.clock {
  display: none;
}

.clearfix:before, .clearfix:after, .clear:before, .clear:after {
  content: " ";
  display: table;
}

.clearfix:after, .clear:after {
  clear: both;
}

.FBLike iframe, .Tweet iframe {
  margin: 5px 0 0;
}

iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content_txt:before, #content_txt:after {
  content: " ";
  display: table;
}

#content_txt:after {
  clear: both;
}

caption {
  text-align: center;
  color: inherit;
  padding: 0;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input[type="text"], input[type="password"] {
  border: 1px solid #f5684e;
  height: 43px;
  line-height: 43px;
  padding: 0 10px;
  font-size: 1.6rem;
  color: #363636;
}

input[type="submit"], input#btnFilePos {
  transition: all 0.3s ease;
  background-color: #f1310e;
  color: #000;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 17px;
  padding: 9px 27px;
  border: 0;
}

input[type="submit"]:hover, input[type="submit"]:focus, input#btnFilePos:hover, input#btnFilePos:focus {
  text-decoration: none;
  background-color: #f26650;
}

.keyboard-outline {
  outline: 2px solid red !important;
  outline-offset: 2px !important;
  text-decoration: none !important;
}

.keyboard-outline.button {
  outline-color: #363636 !important;
}

.button:focus, .button:hover {
  text-decoration: none;
}

.dropdown-menu {
  float: none;
  border: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.radio {
  margin: 0;
}

.radio + .radio {
  margin: 0;
}

.radio label, .radio input[type="radio"] {
  position: static;
  padding: 0;
  margin: 0;
}

.radio input[type="radio"] {
  margin: 0 0 0 5px !important;
}

.heading, #content_txt > h2 {
  font-family: 'Shadows-into-light', serif;
  font-size: 2.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 0 15px;
  display: block;
}

.clock-container {
  display: none;
}

label, .label {
  padding: 0;
  margin: 0;
  color: #363636;
  font-size: 1.6rem;
  font-weight: 400;
}

th {
  text-align: center;
}

@media (min-width: 992px) {
  .visible-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }
  .hidden-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .visible-mobile {
    display: block;
  }
}

.main-nav {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.main-nav a {
  color: #000;
}

.main-nav .dropdown-backdrop {
  display: none;
}

.nav__tools {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.nav__tools li {
  display: block;
  float: left;
}

.nav__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px 22px;
  font-size: 1.2rem;
  height: 87px;
  position: relative;
}

.nav__content:before {
  content: '';
  width: calc(100% + 30px);
  height: 1px;
  background-color: #cfcabc;
  display: block;
  position: absolute;
  left: -15px;
  right: 0;
  bottom: 0;
}

.nav__hamburger {
  display: none;
  margin: 20px 0 15px;
  padding: 5px;
  width: 40px;
  height: 33px;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.nav__hamburger i {
  transition: all .3s ease;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #de6005;
}

.nav__hamburger i:not(:last-of-type) {
  margin-bottom: 7px;
}

.nav__hamburger span {
  display: none;
}

.nav__hamburger.active i:first-of-type {
  transform: rotate(45deg) translateX(8px) translateY(7px);
}

.nav__hamburger.active i:nth-of-type(2) {
  opacity: 0;
}

.nav__hamburger.active i:last-of-type {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
}

.nav__home {
  display: block;
  position: absolute;
  width: 36px;
  height: auto;
  left: 0;
  top: 23px;
}

.nav__bip {
  display: block;
  margin: 0 30px 0 0;
}

.nav__bip img:first-child {
  display: inline;
}

.nav__bip img:last-child {
  display: none;
}

.nav__sitemap {
  display: block;
  line-height: 13px;
  margin: 0 30px 0 0;
}

.nav__sitemap img {
  display: inline-block;
  margin-right: 5px;
}

.nav__contrast {
  display: block;
  line-height: 17px;
  margin: 0 30px 0 0;
}

.nav__contrast img {
  display: inline-block;
  margin-left: 5px;
  height: 17px;
  width: auto;
}

.nav__contrast img:last-of-type {
  display: none;
}

.nav__fonts {
  display: block;
  font-family: 'Source Sans Pro Semibold', sans-serif;
  margin: 0 25px 0 0;
  padding: 0;
  font-size: 0;
}

.nav__fonts:before, .nav__fonts:after {
  content: " ";
  display: table;
}

.nav__fonts:after {
  clear: both;
}

.nav__fonts li {
  display: inline-block;
}

.nav__fonts li:not(:last-child) {
  margin-right: 7px;
}

.nav__fonts li a {
  color: #000;
}

.nav__fonts li a.medium {
  font-size: 18px;
}

.nav__fonts li a.big {
  font-size: 20px;
}

.nav__fonts li a.large {
  font-size: 22px;
}

.nav__fonts li a:hover, .nav__fonts li a:focus {
  text-decoration: none;
}

.nav__content--mobile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__content--mobile > div {
  display: block;
}

.nav__search {
  width: 202px;
  height: 38px;
  font-size: 1.4rem;
  border: 1px solid #f1310e;
}

.nav__search:after {
  content: '';
  clear: both;
  display: table;
}

.nav__search button {
  transition: all 0.3s ease;
  float: right;
  width: 38px;
  height: 36px;
  background-color: #f1310e;
  background-size: 21px 19px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url("../images/nav/search-color2.png");
  outline: 0;
  border: 0;
  font-size: 0;
}

.nav__search button:hover {
  background-color: #ff6441;
}

.nav__search input {
  font-size: 1.2rem;
  display: block;
  width: calc(100% - 38px);
  line-height: 36px;
  padding: 0 14px;
  height: 36px;
  border: 0;
  outline: 0;
  float: left;
}

.nav__menu {
  font-family: 'Teko', sans-serif;
  display: block;
  float: left;
  text-align: center;
  min-height: 63px;
}

.nav__menu > ul {
  transform: translateX(-15px);
  padding: 0;
  margin: 15px 0 0;
  font-size: 0;
  text-align: left;
  display: block;
  min-height: 48px;
  text-transform: uppercase;
}

.nav__menu > ul:before, .nav__menu > ul:after {
  content: " ";
  display: table;
}

.nav__menu > ul:after {
  clear: both;
}

.nav__menu > ul > li {
  display: inline-block;
  vertical-align: middle;
  position: static;
  font-size: 1.6rem;
}

.nav__menu > ul > li > a {
  display: block;
  position: relative;
  padding: 16px 15px;
}

.nav__menu > ul > li > a:before {
  transition: all .3s ease;
  content: '';
  width: 35px;
  height: 47px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  top: -47px;
  background-image: url("../images/nav/hover.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 8;
}

.nav__menu > ul > li > a:hover, .nav__menu > ul > li > a:focus {
  color: #363636;
  text-decoration: none;
}

.nav__menu > ul > li > a:hover:before, .nav__menu > ul > li > a:focus:before {
  transform: translateX(-50%) scale(1);
}

.nav__menu > ul > li.open > a:before {
  transform: translateX(-50%) scale(1);
}

.nav__menu > ul > li:not(:last-child) {
  margin-right: 45px;
}

.nav__menu > ul > li .menu-icon {
  display: none;
}

.nav__menu > ul > li ul {
  display: none;
  z-index: 8;
  position: absolute;
  top: 100%;
  left: auto;
  margin: 0;
  width: 200px;
  padding: 3px 60px 3px 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav__menu > ul > li ul li {
  display: block;
  font-size: 1.4rem;
}

.nav__menu > ul > li ul li a {
  color: #565859;
  display: block;
  padding: 5px 0;
}

.nav__menu > ul > li ul li a:hover, .nav__menu > ul > li ul li a:focus {
  text-decoration: none;
  background-color: inherit;
  color: #f26650;
}

.nav__menu > ul > li ul li:not(:last-child) {
  border-bottom: 1px solid #d3f3ed;
}

.nav__menu > ul > li ul.active {
  display: block;
}

@media (max-width: 991px) {
  .main-nav {
    min-height: 124px;
  }
  .nav__tools {
    display: inline-block;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__sitemap {
    display: none;
  }
  .nav__fonts {
    display: none;
  }
  .nav__holder {
    min-height: 0;
  }
  .nav__holder > .col-xs-12 {
    position: static !important;
  }
  .nav__search {
    width: auto;
    position: relative;
    border: 0;
    float: left;
    margin: 3px 0 0;
  }
  .nav__search input {
    display: none;
  }
  .nav__search button {
    background-image: url("../images/nav/search-color1.png");
    background-size: 25px 23px;
    background-color: transparent;
  }
  .nav__search button:hover {
    background-color: transparent;
  }
  .nav__search:before {
    content: '';
    width: 36px;
    height: 38px;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .nav__search.active input {
    position: absolute;
    display: block;
    top: 0;
    right: 44px;
    width: 200px;
    border: 1px solid #de6005;
  }
  .nav__search.active:before {
    display: none;
  }
  .nav__home {
    display: block;
    position: static;
    float: left;
    margin: 0;
  }
  .nav__menu {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #de6005;
  }
  .nav__menu.active {
    display: block;
  }
  .nav__menu .dropdown-menu {
    text-align: center;
  }
  .nav__menu .dropdown-menu > li > a {
    font-size: 1.6rem;
    color: inherit;
  }
  .nav__menu > ul > li {
    position: relative;
  }
  .nav__menu > ul > li ul li:not(:last-child) {
    border-bottom: 0;
  }
  .nav__bip {
    float: left;
    margin: 6px 0 0 16px;
  }
  .nav__contrast {
    margin: 7px 16px 0;
    font-size: 0;
    line-height: auto;
    float: left;
    padding: 5px;
    position: relative;
  }
  .nav__contrast:before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #de6005;
    position: absolute;
    right: -10px;
    top: 4px;
  }
  .nav__contrast img {
    transform: none;
    margin: 0;
  }
  .nav__contrast img:first-of-type {
    display: none;
  }
  .nav__contrast img:last-of-type {
    transform: none;
    display: inline-block;
  }
  .nav__content {
    display: block;
    padding: 8px 0 0;
    height: 56px;
  }
  .nav__content:before, .nav__content:after {
    content: " ";
    display: table;
  }
  .nav__content:after {
    clear: both;
  }
  .nav__content:before {
    content: '';
    width: calc(100% + 30px);
    height: 1px;
    background-color: #fef8ef;
    display: block;
    position: absolute;
    left: -15px;
    right: 0;
    top: 0;
  }
  .nav__content:after {
    content: '';
    width: calc(100% + 30px);
    height: 1px;
    background-color: #feedd9;
    display: block;
    position: absolute;
    left: -15px;
    right: 0;
    top: 1px;
  }
  .nav__content--mobile {
    display: block;
    float: right;
  }
  .nav__content--mobile:before, .nav__content--mobile:after {
    content: " ";
    display: table;
  }
  .nav__content--mobile:after {
    clear: both;
  }
  .nav__menu {
    height: auto;
  }
  .nav__menu > ul {
    transform: none;
    margin: 0;
    height: auto;
    text-align: center;
  }
  .nav__menu > ul > li {
    display: block;
  }
  .nav__menu > ul > li:not(:last-child) {
    margin-right: 0;
  }
  .nav__menu > ul > li > a:before {
    display: none;
  }
  .nav__menu > ul > li > a:hover, .nav__menu > ul > li > a.selected {
    background-color: #ff9338;
  }
  .nav__menu > ul > li ul {
    width: 100%;
    position: static;
    padding: 0;
    background-color: #f5d0b4;
  }
  .nav__menu > ul > li ul li a {
    padding: 16px 15px;
  }
  .nav__menu > ul > li ul li a:hover, .nav__menu > ul > li ul li a.selected {
    background-color: #ffffe7;
  }
}

@media (max-width: 479px) {
  .nav__bip img:first-child {
    display: none;
  }
  .nav__bip img:last-child {
    display: inline;
  }
}

.hero {
  position: relative;
  height: 676px;
}

.hero .container-fluid, .hero .row, .hero .col-xs-12 {
  padding: 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero__carousel, .hero__name {
  position: absolute;
  height: 100%;
  width: 1170px;
  left: calc(50% - 585px);
}

.hero__background {
  height: 676px;
  background-size: cover;
  background-position: center center;
}

.hero__name h1 {
  font-family: 'Shadows-into-light', serif;
  font-size: 2.8rem;
  line-height: 31px;
  color: #010101;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-transform: uppercase;
  z-index: 8;
  bottom: -9px;
  margin: 0;
  padding: 20px 105px 20px 50px;
  right: -1px;
  background-image: url("../images/hero/ribbon.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 656px;
  height: 124px;
}

.hero__name h1 span {
  display: none;
}

.hero__address {
  position: absolute;
  width: 564px;
  height: 297px;
  bottom: -21px;
  z-index: 7;
  right: calc(50% + 325px);
  background-image: url("../images/hero/rainbow.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #010101;
}

.hero__address > div {
  position: absolute;
  bottom: 33px;
  right: 35px;
  font-size: 2rem;
  line-height: 23px;
  width: 200px;
  color: #010101;
  text-align: center;
}

.hero__address > div a {
  color: inherit;
}

.hero__address > div a[href^="mailto"] {
  word-break: break-all;
}

.hero__address > div:before {
  right: 54px;
  top: -26px;
  position: absolute;
  content: 'Adres';
  text-transform: uppercase;
  font-family: 'Shadows-into-light', serif;
  font-size: 3rem;
}

.hero__address p {
  margin: 0;
}

.hero__object {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}

@media (max-width: 1460px) {
  .hero__name h1 {
    font-size: 2.1rem;
    line-height: 24px;
    padding-right: 205px;
  }
}

@media (max-width: 1340px) {
  .hero__name h1 {
    font-size: 1.9rem;
    line-height: 23px;
    padding-right: 235px;
  }
}

@media (max-width: 1240px) {
  .hero__name h1 {
    padding-right: 300px;
  }
}

@media (max-width: 1199px) {
  .hero__address {
    right: auto;
    left: -284px;
  }
  .hero__carousel, .hero__name {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .hero, .hero__background {
    height: 838px;
  }
  .hero__name h1 {
    padding-right: 30px;
    font-size: 2.1rem;
    line-height: 24px;
  }
  .hero__object {
    bottom: -54px;
    width: 365px;
    height: auto;
    z-index: 6;
  }
  .hero__address {
    width: 675px;
    height: 387px;
    bottom: -38px;
    background-image: url("../images/hero/rainbow-mobile.png");
  }
  .hero__address > div {
    bottom: auto;
    top: 90px;
    right: 66px;
  }
  .hero__address > div a[href^="mailto"] {
    word-break: break-all;
  }
}

@media (max-width: 680px) {
  .hero__name h1 {
    right: -120px;
    padding-right: 150px;
  }
}

@media (max-width: 639px) {
  .hero, .hero__background {
    height: 534px;
  }
  .hero__name h1 {
    right: 0;
    padding-right: 30px;
    height: 90px;
    width: 476px;
  }
  .hero__object {
    bottom: -100px;
  }
  .hero__address {
    width: 448px;
    height: 257px;
    left: -200px;
    bottom: -52px;
  }
  .hero__address > div {
    top: 60px;
    right: 11px;
    font-size: 1.6rem;
    line-height: 18px;
  }
}

@media (max-width: 520px) {
  .hero__name h1 {
    font-size: 2rem;
    right: -40px;
    padding-right: 50px;
  }
}

@media (max-width: 479px) {
  .hero__address {
    bottom: -30px;
  }
  .hero__object {
    width: 320px;
    bottom: -50px;
  }
  .hero__name h1 {
    right: -200px;
    padding: 15px 210px 15px 40px;
    font-size: 1.5rem;
    line-height: 17px;
  }
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.owl-carousel .owl-wrapper li {
  width: 100%;
  list-style-type: none;
  display: block;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}

.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  animation: scaleUpTo .5s ease both;
}

.owl-fadeDown-in {
  animation: scaleDownFrom .5s ease both;
}

.owl-fadeDown-out {
  animation: scaleDownTo .5s ease both;
}

.owl-goUp-out {
  animation: scaleToFade .7s ease both;
}

.owl-goUp-in {
  animation: goUp .6s ease both;
}

@keyframes empty {
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}

@keyframes goUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownFrom {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownTo {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.headmodules {
  background-color: #ffbd7c;
  color: #363636;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  font-size: 2rem;
}

.headmodules a {
  color: #363636;
}

.headmodules a:hover {
  text-decoration: underline;
}

.headmodules h2 {
  position: relative;
  font-family: 'Shadows-into-light', serif;
  color: #000;
  font-weight: bold;
  height: 34px;
  font-size: 2.9rem;
  line-height: 31px;
  padding: 3px 30px;
  letter-spacing: 0.5px;
  margin: 0 0 18px;
  display: block;
  background: repeating-linear-gradient(-55deg, #b66c23, #b66c23 0.5px, transparent 2px, transparent 7px, #b66c23 7.5px);
}

.headmodules h2:before, .headmodules h2:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.headmodules h2:before {
  left: 0;
  top: 0;
  border-width: 32px 22px 0 0;
  border-color: #ffbd7c transparent transparent transparent;
}

.headmodules h2:after {
  right: 0;
  bottom: 0;
  border-width: 0 0 32px 22px;
  border-color: transparent transparent #ffbd7c transparent;
}

.headmodules .module__holder {
  font-size: 2rem;
  line-height: 23px;
}

.headmodules .module__holder ul {
  margin: 0;
  padding: 0;
}

.headmodules .module__holder p {
  margin: 0;
}

.headmodules .module__content:before, .headmodules .module__content:after {
  content: " ";
  display: table;
}

.headmodules .module__content:after {
  clear: both;
}

.headmodules #mod_stats ul {
  padding: 0;
  margin: 5px 0 0;
}

.headmodules #mod_login legend {
  display: none;
}

.headmodules #mod_login fieldset {
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.headmodules #mod_login fieldset:before, .headmodules #mod_login fieldset:after {
  content: " ";
  display: table;
}

.headmodules #mod_login fieldset:after {
  clear: both;
}

.headmodules #mod_login label {
  width: 50px;
  display: block;
  float: left;
  line-height: 33px;
}

.headmodules #mod_login input[type="text"], .headmodules #mod_login input[type="password"] {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: calc(100% - 50px);
  height: 33px;
  line-height: 31px;
}

.headmodules #mod_login input[type="submit"] {
  margin-left: 50px;
  display: block;
}

.headmodules__holder {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
}

.headmodules__holder > li {
  display: block;
  width: calc(25% - 50px);
  margin: 0 25px;
}

.headmodules__holder > li#mod_kzk {
  width: 38%;
}

.headmodules__holder > li#mod_contact p {
  margin: 0;
}

.headmodules__holder > li#mod_contact a[href^="mailto"], .headmodules__holder > li#mod_contact p.mail {
  word-break: break-all;
}

@media (max-width: 1199px) {
  .headmodules h2 {
    padding: 8px 30px;
    font-size: 2rem;
    height: auto;
    line-height: 18px;
  }
}

@media (max-width: 991px) {
  .headmodules {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }
  .headmodules h2 {
    display: inline-block;
  }
  .headmodules h2 + * {
    display: block;
  }
  .headmodules .module__content {
    padding: 0 20px;
  }
  .headmodules__holder {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .headmodules__holder > li {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    width: 50%;
    margin: 0 auto;
    border-style: solid;
    border-color: transparent;
    border-width: 15px 20px;
  }
  .headmodules__holder > li#mod_kzk {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .headmodules__holder {
    display: block;
  }
  .headmodules__holder:before, .headmodules__holder:after {
    content: " ";
    display: table;
  }
  .headmodules__holder:after {
    clear: both;
  }
  .headmodules__holder > li {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    display: block;
    width: 100%;
    max-width: 370px;
    margin: 15px auto;
  }
  .headmodules__holder > li#mod_kzk {
    width: 100%;
  }
}

.modules-main > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.modules-main > ul > li {
  display: block;
  position: relative;
  width: 238px;
  background: repeating-linear-gradient(-55deg, #ffc286, #ffc286 0.5px, transparent 2px, transparent 10px, #ffc286 10.5px);
}

.modules-main > ul > li:not(:first-child):not(:last-child) {
  margin: 0 15px;
}

.modules-main > ul > li:first-child {
  margin-right: 15px;
}

.modules-main > ul > li:last-child {
  margin-left: 15px;
}

.modules-main > ul > li:hover {
  background: repeating-linear-gradient(-55deg, #ffe4a8, #ffe4a8 0.5px, transparent 2px, transparent 10px, #ffe4a8 10.5px);
}

.modules-main > ul > li:before {
  content: '';
  display: block;
  width: 122px;
  height: 25px;
  background-size: 122px 25px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../images/arrow-right.png");
  overflow: hidden;
  position: absolute;
  left: calc(50% - 66px);
  bottom: 27px;
}

.modules-main > ul > li > div {
  position: relative;
  padding: 0 0 60px;
}

.modules-main > ul > li > div:before {
  content: '';
  display: block;
  position: absolute;
  bottom: calc(100% - 8px);
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}

.modules-main > ul > li > div#mod_newsletter {
  font-size: 1.5rem;
}

.modules-main > ul > li > div#mod_newsletter:before {
  width: 80px;
  height: 88px;
  background-image: url("../images/icons/newsletter.png");
}

.modules-main > ul > li > div#mod_contact:before {
  width: 73px;
  height: 74px;
  background-image: url("../images/icons/contact.png");
}

.modules-main > ul > li > div#mod_contact a[href^="mailto"] {
  word-break: break-all;
}

.modules-main > ul > li > div#mod_gallery:before {
  width: 81px;
  height: 87px;
  background-image: url("../images/icons/gallery.png");
}

.modules-main > ul > li > div#mod_calendar2:before {
  width: 115px;
  height: 87px;
  background-image: url("../images/icons/calendar.png");
}

.modules-main > ul > li > div#mod_forum:before {
  width: 74px;
  height: 76px;
  background-image: url("../images/icons/forum.png");
}

.modules-main > ul > li > div#mod_forum .keyboard-outline.button {
  outline-color: red !important;
}

.modules-main > ul > li > div#mod_forum .button:hover {
  text-decoration: underline;
}

.modules-main > ul > li > div#mod_forum #modForum, .modules-main > ul > li > div#mod_forum .bolder {
  display: none;
}

.modules-main > ul > li > div#mod_jokes:before {
  width: 91px;
  height: 83px;
  background-image: url("../images/icons/humor.png");
}

.modules-main > ul > li > div#mod_location:before {
  width: 83px;
  height: 78px;
  background-image: url("../images/icons/location.png");
}

.modules-main > ul > li > div#mod_kzk:before {
  width: 86px;
  height: 86px;
  background-image: url("../images/icons/kzk.png");
}

.modules-main > ul > li > div#mod_timetable:before {
  width: 70px;
  height: 90px;
  background-image: url("../images/icons/timetable.png");
}

.modules-main > ul > li > div#mod_stats {
  width: 96px;
  height: 87px;
  background-image: url("../images/icons/stats.png");
}

.modules-main > ul > li > div#mod_login:before {
  width: 115px;
  height: 87px;
  background-image: url("../images/icons/login.png");
}

.modules-main > ul > li > div#mod_menu:before {
  width: 95px;
  height: 90px;
  background-image: url("../images/icons/menu.png");
}

.modules-main > ul > li > div#mod_video:before {
  width: 74px;
  height: 74px;
  background-image: url("../images/icons/videos.png");
}

.modules-main > ul > li > div > h2 {
  font-family: 'Shadows-into-light', serif;
  color: #000;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 3rem;
  line-height: 32px;
  padding: 37px 0 25px;
  margin: 0;
}

.modules-main > ul > li a, .modules-main > ul > li p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 20px;
  color: inherit;
  display: block;
  word-break: break-word;
  padding: 0 50px;
}

.modules-main > ul > li a {
  padding: 0 50px;
}

.modules-main > ul > li a.keyboard-outline {
  outline-offset: -2px !important;
}

.modules-main > ul > li p {
  padding: 0 5px;
}

#modulesTop2 {
  margin: 65px 0 0;
}

#modulesBottom {
  margin: 105px 0 0;
}

@media (max-width: 1199px) {
  .modules-main {
    margin: 0;
  }
  .modules-main > ul > li {
    width: 215px;
  }
  .modules-main > ul > li:not(:first-child):not(:last-child) {
    margin: 0 15px;
  }
  .modules-main > ul > li:first-child, .modules-main > ul > li:last-child {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .modules-main > ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .modules-main > ul > li {
    background: repeating-linear-gradient(-55deg, #ffbd7c, #ffbd7c 0.5px, transparent 2px, transparent 13px, #ffbd7c 13.5px);
    padding: 30px 90px;
    border: 15px solid #fff;
  }
  .modules-main > ul > li.one {
    width: 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .modules-main > ul > li.two {
    width: 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-right: 50px;
  }
  .modules-main > ul > li.three {
    width: 33.3333%;
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 30px;
  }
  .modules-main > ul > li:not(:first-child):not(:last-child), .modules-main > ul > li:first-child, .modules-main > ul > li:last-child {
    margin: 0;
  }
  .modules-main > ul > li:before {
    width: 111px;
    left: auto;
    bottom: 10px;
    right: 25px;
  }
  .modules-main > ul > li > div {
    padding: 0;
  }
  .modules-main > ul > li > div > h2 {
    padding: 0;
    margin: 0 0 10px;
    text-align: left;
    font-size: 2rem;
    line-height: 24px;
  }
  .modules-main > ul > li > div:before {
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    right: calc(100% + 2px);
    left: auto;
  }
  .modules-main > ul > li a, .modules-main > ul > li p {
    text-align: left;
    padding: 0;
  }
  #modulesTop2 {
    margin-top: 15px;
  }
  #modulesBottom {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .modules-main {
    width: 100%;
    transform: none;
  }
  .modules-main > ul {
    -ms-flex-wrap: auto;
    flex-wrap: auto;
    display: block;
  }
  .modules-main > ul > li {
    max-width: 100% !important;
    -ms-flex: 1 0 100% !important;
    flex: 1 0 100% !important;
    width: 100% !important;
  }
  .modules-main > ul > li:before {
    right: 20px;
    bottom: 10px;
  }
}

@media (max-width: 479px) {
  .modules-main > ul > li {
    padding: 15px 15px 40px;
  }
  .modules-main > ul > li > div:before {
    display: none !important;
  }
}

.article {
  position: relative;
  display: block;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 46px;
}

.article:before, .article:after {
  content: " ";
  display: table;
}

.article:after {
  clear: both;
}

.article.article--highlighted .article__content {
  background-color: #f26650;
}

.article.article--highlighted .article__link {
  background-color: #ffbd7c;
  border-color: #ffbd7c;
}

.article.article--highlighted .article__link:hover {
  background-color: #f26650;
}

.article .article__content {
  background-color: #ffbd7c;
}

.article__date {
  position: absolute;
  right: -37px;
  top: -12px;
  width: 139px;
  height: 109px;
  background-image: url("../images/article-date.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.4rem;
  padding: 48px 0 0 32px;
}

.article__content {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  min-height: 222px;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 25px 102px 70px 25px;
  float: right;
  color: #363636;
}

.article__content h4 {
  font-family: 'Shadows-into-light', serif;
  font-size: 2.1rem;
  line-height: 23px;
  margin: 0 0 20px;
}

.article__content a {
  color: inherit;
}

.article__content p {
  font-size: 1.6rem;
  margin: 0;
}

.article__image {
  display: block;
  float: left;
  width: 350px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.article__image div {
  overflow: hidden;
}

.article__image div img {
  display: block;
  transition: all 0.3s ease;
}

.article__image:hover div img {
  transform: scale(1.1);
}

.article__image + .article__content {
  display: block;
  width: 100%;
  padding-left: 375px;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 8px 0 0;
  border-style: solid;
  border-color: #fff;
}

.article__image + .article__content .article__link {
  left: 375px;
}

.article__link {
  height: 35px;
  line-height: 33px;
  padding: 0 19px;
  font-size: 1.6rem;
  color: #000 !important;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 1px solid #f26650;
  background-color: #f26650;
  text-transform: uppercase;
  display: inline-block;
}

.article__link:hover, .article__link:focus {
  text-decoration: none;
  background-color: #ffbd7c;
}

@media (max-width: 1199px) {
  .article__image {
    width: 250px;
  }
  .article__image + .article__content {
    padding-left: 275px;
  }
  .article__image + .article__content .article__link {
    left: 275px;
  }
  .article__content {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .article {
    margin: 0 0 60px;
  }
  .article__image {
    display: none;
  }
  .article__image + .article__content {
    position: static;
  }
  .article__content {
    position: static;
    padding: 30px 25px 70px 40px !important;
  }
  .article__date {
    top: -53px;
    right: -10px;
  }
  .article__link {
    left: 40px !important;
  }
}

@media (max-width: 639px) {
  .article {
    margin: 0 0 40px;
  }
  .article__content {
    padding: 40px 12px 60px 15px !important;
  }
  .article__date {
    top: -32px;
    width: 89px;
    height: 70px;
    font-size: 1.8rem;
    padding: 30px 0 0 10px;
  }
  .article__link {
    left: 15px !important;
  }
}

.aside .module_content {
  text-align: center;
}

.aside .module_content:before, .aside .module_content:after {
  content: " ";
  display: table;
}

.aside .module_content:after {
  clear: both;
}

.aside .heading {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  line-height: 26px;
}

.aside a {
  color: inherit;
  transition: all 0.3s ease;
}

.aside #mod_calendar p {
  margin: 0;
}

.aside #mod_stats ul {
  padding: 0;
  margin: 0;
}

.aside #mod_calendar2 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 15px;
}

.aside #mod_calendar2 .caption_nav_prev, .aside #mod_calendar2 .caption_nav_next {
  display: block;
  position: relative;
  background-image: url("../images/arrow-dark.png");
  background-size: cover;
  width: 15px;
  height: 27px;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.aside #mod_calendar2 .caption_nav_prev a, .aside #mod_calendar2 .caption_nav_next a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.aside #mod_calendar2 .caption_nav_prev a:hover, .aside #mod_calendar2 .caption_nav_next a:hover {
  background-color: transparent;
}

.aside #mod_calendar2 .caption_nav_prev {
  float: left;
  margin-left: 20px;
}

.aside #mod_calendar2 .caption_nav_next {
  transform: rotate(180deg);
  float: right;
  margin-right: 20px;
}

.aside #mod_calendar2 .module_content {
  padding: 24px 12px 12px;
}

.aside #mod_calendar2 .calendar {
  border-collapse: collapse;
  border: 5px solid #fff;
  margin: 0 auto;
  width: 230px;
}

.aside #mod_calendar2 .calendar caption {
  transform: translateY(-20px);
  text-transform: uppercase;
  font-size: 2.1rem;
}

.aside #mod_calendar2 .calendar th {
  height: 30px;
  font-weight: 400;
  background-color: #f6f6f6;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar tr {
  font-family: 'Source Sans Pro', sans-serif;
}

.aside #mod_calendar2 .calendar td {
  height: 25px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar td.pr_day {
  background-color: #ffbd7c;
  color: #basic;
}

.aside #mod_calendar2 .calendar td.imp_day {
  background-color: #fff;
  color: #basic;
}

.aside #mod_calendar2 .calendar td.imp_day a:hover {
  background-color: #f6f6f6;
}

.aside #mod_calendar2 .calendar a {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: inherit;
}

.aside #mod_questionnaire .module_content {
  text-align: left;
}

.aside #mod_questionnaire ul {
  padding: 0;
  margin: 10px 0;
}

.aside #mod_questionnaire label, .aside #mod_questionnaire .label {
  padding: 0;
  margin: 0 0 0 4px;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: normal;
  color: #363636;
}

.aside #mod_questionnaire .button {
  background-color: #f1310e;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 17px;
  padding: 9px 14px;
  border: 0;
}

.aside #mod_questionnaire .button:hover {
  text-decoration: none;
  background-color: #f26650;
}

.aside #mod_forum, .aside #mod_contact, .aside #mod_jokes, .aside #mod_video, .aside #mod_menu, .aside #mod_gallery, .aside #mod_newsletter {
  background: repeating-linear-gradient(-55deg, #ffc389, #ffc389 0.5px, transparent 2px, transparent 7px, #ffc389 7.5px);
  border-right: 60px solid #fff;
  padding-right: 5px;
  position: relative;
}

.aside #mod_forum:before, .aside #mod_contact:before, .aside #mod_jokes:before, .aside #mod_video:before, .aside #mod_menu:before, .aside #mod_gallery:before, .aside #mod_newsletter:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: calc(100% - 25px);
  background-size: cover;
  background-repeat: no-repeat;
}

.aside #mod_newsletter:before {
  width: 60px;
  height: 66px;
  background-image: url("../images/icons/newsletter.png");
}

.aside #mod_gallery:before {
  width: 62px;
  height: 66px;
  background-image: url("../images/icons/gallery.png");
}

.aside #mod_jokes:before {
  width: 62px;
  height: 56.5px;
  background-image: url("../images/icons/humor.png");
}

.aside #mod_menu:before {
  width: 60px;
  height: 57px;
  background-image: url("../images/icons/menu.png");
}

.aside #mod_video:before {
  width: 62px;
  height: 62px;
  background-image: url("../images/icons/videos.png");
}

.aside #mod_contact .bolder {
  display: none;
}

.aside #mod_contact h2 {
  text-align: left;
  margin: 0 0 22px 36px;
}

.aside #mod_contact a {
  background-color: #f1310e;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 17px;
  padding: 9px 14px;
  border: 0;
}

.aside #mod_contact a:hover {
  text-decoration: none;
  background-color: #f26650;
}

.aside #mod_contact p.mail {
  word-break: break-all;
}

.aside #mod_contact:before {
  width: 73px;
  height: 74px;
  background-image: url("../images/icons/contact.png");
}

.aside #mod_forum h2 {
  text-align: left;
  margin: 0 0 22px 36px;
}

.aside #mod_forum a {
  background-color: #f1310e;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 17px;
  padding: 9px 14px;
  border: 0;
}

.aside #mod_forum a:hover {
  text-decoration: none;
  background-color: #f26650;
}

.aside #mod_forum #modForum {
  display: none;
}

.aside #mod_forum .bolder {
  display: none;
}

.aside #mod_forum:before {
  width: 74px;
  height: 76px;
  background-image: url("../images/icons/forum.png");
}

.aside #mod_weather {
  font-size: 1.3rem;
  line-height: 18px;
}

.aside #mod_weather .weatherLoc {
  font-size: 1.7rem;
  line-height: 20px;
}

.aside #mod_weather .weatherTemp {
  font-size: 3rem;
  line-height: 34px;
  font-family: 'Teko-semibold', sans-serif;
}

.aside #mod_weather .weatherIco {
  margin: 15px 0;
}

.aside #mod_weather .weatherParam {
  display: none;
}

.aside #mod_weather .weatherParam:not(.cloned) {
  display: block;
}

.aside #mod_weather ul {
  padding: 0;
  margin: 25px 0;
  text-align: center;
}

.aside #mod_login .module_content {
  text-align: left;
}

.aside #mod_login fieldset {
  border: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.aside #mod_login legend {
  display: none;
}

.aside #mod_login label {
  font-size: 1.8rem;
  line-height: 20px;
  margin: 0 0 13px;
  text-transform: uppercase;
}

.aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  margin: 0 0 10px;
  padding: 0 10px;
  line-height: 42px;
  height: 44px;
}

.aside #mod_login label, .aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  width: 100%;
  display: block;
}

.aside #mod_login h2 {
  margin: 0 0 45px;
}

.aside #mod_login .button {
  display: inline-block;
  transition: all 0.3s ease;
  background-color: #f1310e;
  color: #000;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 17px;
  padding: 9px 27px;
  border: 0;
  margin: 10px 0 0;
}

.aside #mod_login .button:hover {
  text-decoration: none;
  background-color: #f26650;
}

.aside__modules > * {
  margin: 28px 0;
  padding: 46px 0 18px;
  background: repeating-linear-gradient(-55deg, #f4bfb5, #f4bfb5 0.5px, transparent 2px, transparent 10px, #f4bfb5 10.5px);
  background-color: transparent;
}

.aside__modules > * .module_content {
  padding: 0 36px;
}

.aside__modules > *#mod_jokes, .aside__modules > *#mod_video, .aside__modules > *#mod_menu, .aside__modules > *#mod_gallery, .aside__modules > *#mod_forum, .aside__modules > *#mod_contact, .aside__modules > *#mod_newsletter {
  background: repeating-linear-gradient(-55deg, #ffc286, #ffc286 0.5px, transparent 2px, transparent 10px, #ffc286 10.5px);
}

.aside__modules > * h2 {
  font-family: 'Shadows-into-light', serif;
  color: #363636;
  font-size: 3rem;
  line-height: 33px;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.aside__modules > * a:hover {
  text-decoration: underline;
}

.aside__menu {
  margin: 30px 0 20px;
}

.aside__menu .dropdown-menu {
  position: static;
}

.aside__menu .dropdown-menu > li > a:focus {
  background-color: transparent;
}

.aside__menu > ul {
  margin: 25px 0;
  padding: 0;
}

.aside__menu > ul > li > a {
  position: relative;
}

.aside__menu > ul > li > a:before, .aside__menu > ul > li > a:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.aside__menu > ul > li > a:before {
  left: 0;
  top: 0;
  border-width: 32px 22px 0 0;
  border-color: #fff transparent transparent transparent;
}

.aside__menu > ul > li > a:after {
  right: 0;
  bottom: 0;
  border-width: 0 0 32px 22px;
  border-color: transparent transparent #fff transparent;
}

.aside__menu > ul > li > a.selected, .aside__menu > ul > li > a:focus, .aside__menu > ul > li > a:hover {
  background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
  background-color: transparent;
  color: #363636;
  text-decoration: none;
}

.aside__menu > ul > li > a.selected:before, .aside__menu > ul > li > a.selected:after, .aside__menu > ul > li > a:focus:before, .aside__menu > ul > li > a:focus:after, .aside__menu > ul > li > a:hover:before, .aside__menu > ul > li > a:hover:after {
  display: block;
}

.aside__menu li > ul {
  padding: 0 0 0 30.5px;
}

.aside__menu li > ul li {
  background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
  background-color: transparent;
}

.aside__menu li > ul li a {
  color: #363636;
}

.aside__menu li > ul li a.selected {
  background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
  background-color: transparent;
  color: #363636;
}

.aside__menu li > a {
  color: #363636;
  height: 38px;
  line-height: 18px;
  font-size: 1.8rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 15px;
}

.aside__menu li > a:hover {
  background: repeating-linear-gradient(-55deg, #ffbd7c, #ffbd7c 0.5px, transparent 2px, transparent 7px, #ffbd7c 7.5px);
  color: #363636;
}

.aside__menu .heading {
  margin: 20px 0 0;
}

.aside__menu .heading:first-of-type {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .aside__modules > * {
    padding: 32px 0 18px;
  }
  .aside__modules > * .module_content {
    padding: 0 26px;
  }
  .aside #mod_forum, .aside #mod_contact, .aside #mod_jokes, .aside #mod_video, .aside #mod_menu, .aside #mod_gallery, .aside #mod_newsletter {
    border-width: 30px;
  }
  .aside #mod_newsletter h2 {
    font-size: 2.4rem;
  }
  .aside #mod_calendar2 .calendar {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .aside__modules > * {
    height: auto !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #modulesLeftWrapper {
    -ms-flex-direction: row;
    flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #modulesLeftWrapper > * {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: calc(50% - 30px);
    margin: 15px !important;
  }
}

@media (max-width: 991px) {
  .aside .module_content {
    padding: 24px;
  }
  .aside #calendarNews {
    position: relative;
  }
  .aside #mod_login h2 {
    margin: 0 0 0 25px;
    text-align: left;
  }
  .aside #mod_programs {
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
  }
  .aside #mod_weather #weatherInfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .aside #mod_weather #weatherInfo:before, .aside #mod_weather #weatherInfo:after {
    content: " ";
    display: table;
  }
  .aside #mod_weather #weatherInfo:after {
    clear: both;
  }
  .aside #mod_weather ul {
    margin: 0;
  }
  .aside #mod_weather .weatherParam {
    width: 40%;
    margin: 15px 0;
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .aside #mod_weather .weatherParam:not(.cloned) ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .aside #mod_weather .weatherParam:not(.cloned) li:not(.weatherIco):not(.weatherTemp):not(.weatherLoc) {
    display: none;
  }
  .aside #mod_weather .weatherParam.cloned .weatherIco, .aside #mod_weather .weatherParam.cloned .weatherTemp, .aside #mod_weather .weatherParam.cloned .weatherLoc {
    display: none;
  }
  .aside #mod_calendar2 {
    position: relative;
  }
  .aside #mod_calendar2 .caption_nav_next, .aside #mod_calendar2 .caption_nav_prev {
    position: absolute;
    top: 40%;
    margin: 0;
  }
  .aside #mod_calendar2 .caption_nav_next {
    left: calc(50% + 120px);
    transform: rotate(180deg);
  }
  .aside #mod_calendar2 .caption_nav_prev {
    right: calc(50% + 120px);
  }
  .aside #mod_calendar2 .calendar {
    width: 216px;
  }
  .aside #mod_calendar2 .calendar caption {
    transform: translateY(10px);
    caption-side: bottom;
  }
  .aside__modules > * {
    background: repeating-linear-gradient(-55deg, #ffbd7c, #ffbd7c 0.5px, transparent 2px, transparent 13px, #ffbd7c 13.5px);
    height: auto !important;
  }
  .aside__modules > * h2 {
    text-align: left;
    padding-left: 25px;
  }
  .aside__menu {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .aside #mod_forum:before, .aside #mod_contact:before, .aside #mod_jokes:before, .aside #mod_video:before, .aside #mod_menu:before, .aside #mod_gallery:before, .aside #mod_newsletter:before {
    transform: scale(0.9) translateX(-5px) rotate(360deg);
  }
  .aside #mod_programs {
    border-width: 0;
  }
  .aside #mod_calendar2 .calendar {
    width: 240px;
  }
  .aside #mod_calendar2 .caption_nav_prev {
    right: calc(50% + 130px);
  }
  .aside #mod_calendar2 .caption_nav_next {
    left: calc(50% + 130px);
  }
  .modules-main > ul > li {
    border-left-width: 0;
    border-right-width: 0;
  }
  .modules-main > ul > li:last-child {
    border-bottom-width: 0;
  }
}

@media (max-width: 420px) {
  .aside #mod_weather .weatherParam {
    width: 100%;
  }
  .aside #mod_weather .weatherParam:not(.cloned) {
    display: none;
  }
  .aside #mod_weather .weatherParam.cloned .weatherIco, .aside #mod_weather .weatherParam.cloned .weatherTemp, .aside #mod_weather .weatherParam.cloned .weatherLoc {
    display: block;
  }
}

.timetable--classlist {
  font-size: 1.6rem;
  line-height: 20px;
  color: #363636;
  padding: 0;
  display: block;
  list-style-type: circle;
  list-style-position: inside;
}

.timetable--classlist a {
  color: inherit;
}

.timetable--classlist a:hover {
  text-decoration: underline;
}

.timetable__info {
  font-size: 1.6rem;
}

.timetable {
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
  color: #333;
}

.timetable caption {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
  border-bottom: 0;
  line-height: 40px;
}

.timetable th, .timetable td {
  border: 1px solid #333;
  padding: 5px;
  vertical-align: middle;
}

.timetable th {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
  color: #222;
}

.timetable .txt_err {
  color: #222;
  text-align: center;
}

.timetable__holder {
  margin: 0 auto 20px;
  border: 0;
}

@media (max-width: 767px) {
  .timetable {
    font-size: 1.3rem;
  }
  .timetable th, .timetable td {
    width: auto !important;
  }
}

.board {
  position: relative;
  margin-bottom: 60px;
}

.board .board-top {
  height: 12px;
}

.board .board-top-left {
  height: 12px;
  width: 10px;
  background: url("../images/board/boardTopLeft.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.board .board-top-top {
  height: 12px;
  position: absolute;
  left: 10px;
  right: 10px;
  background: url("../images/board/boardTop.png") repeat-x;
}

.board .board-top-right {
  width: 10px;
  height: 12px;
  background: url("../images/board/boardTopRight.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.board .board-center-left {
  width: 10px;
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterLeft.png") repeat-y;
}

.board .board-center-center {
  position: relative;
  margin: 0 10px 0 10px;
  background: url("../images/board/boardBg.jpg");
  padding: 20px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.board .board-center-right {
  width: 10px;
  position: absolute;
  right: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterRight.png") repeat-y;
}

.board .board-bottom-left {
  width: 10px;
  height: 31px;
  position: absolute;
  left: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomLeft.png") no-repeat;
}

.board .board-bottom-right {
  width: 10px;
  height: 31px;
  position: absolute;
  right: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomRight.png") no-repeat;
}

.board .board-bottom-bottom {
  position: absolute;
  bottom: -19px;
  left: 10px;
  right: 10px;
  height: 31px;
  background: url("../images/board/boardBottom.png") repeat-x;
}

.board .board-bottom {
  position: relative;
}

.board .chalk-1 {
  width: 34px;
  height: 9px;
  background: url("../images/board/chalk-1.png") no-repeat;
  position: absolute;
  left: 40px;
  top: 7px;
  z-index: 2;
}

.board .chalk-2 {
  width: 18px;
  height: 9px;
  background: url("../images/board/chalk-2.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 7px;
  z-index: 2;
}

.board .sponge {
  width: 90px;
  height: 81px;
  background: url("../images/board/sponge.png") no-repeat;
  position: absolute;
  right: 30px;
  top: -58px;
  z-index: 2;
}

.board .board-content {
  color: #fff;
  padding-bottom: 45px;
}

.board .board-content strong,
.board .board-content b {
  font-weight: normal;
  font-family: sourceSemibold;
}

.board .board-content img {
  max-width: 100%;
  height: auto;
}

.board .board-content h3 {
  color: #fff;
  font-size: 1.714em;
  margin-top: 2em;
  margin-bottom: 1em;
  background: url("../images/board/bgMenuLeftHeader.png") repeat-x left bottom;
  padding-bottom: 15px;
  font-weight: normal;
}

.board .board-content h3.board-header {
  background: none;
  margin-top: 0;
  font-family: chalk;
  font-size: 2.429em;
}

.board .board-content h4 {
  color: #fff;
  font-size: 1.429em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h5 {
  color: #fff;
  font-size: 1.286em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h6 {
  color: #fff;
  font-size: 1.143em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content a,
.board .board-content a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border 0.3s ease 0s;
}

.board .board-content a:hover,
.board .board-content a:focus,
.board .board-content a:visited:hover,
.board .board-content a:visited:focus {
  border-color: transparent;
}

.board .board-content a:focus,
.board .board-content a:visited:focus {
  outline: 2px solid #fff;
}

.board .board-content a:hover:active,
.board .board-content a:visited:hover:active {
  outline: none;
}

.form .group {
  margin: 10px 0;
}

.form .group:before, .form .group:after {
  content: " ";
  display: table;
}

.form .group:after {
  clear: both;
}

.form label {
  width: 180px;
  float: left;
  line-height: 44px;
  display: block;
}

.form p {
  margin: 0;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea {
  height: 44px;
  line-height: 42px;
  padding: 0 10px;
  width: calc(100% - 180px);
  float: left;
}

.form textarea {
  resize: none;
  font-size: 1.6rem;
  height: 140px;
}

.form .button-wrapper {
  margin-left: 180px;
}

.form .msgError {
  width: calc(100% - 180px);
  float: right;
}

.form .radio {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form .radio:not(:last-child) {
  margin-right: 15px;
}

.form .radio label {
  width: auto;
  margin-right: 5px;
}

.form .upload input[type="text"] {
  margin-bottom: 10px;
}

.form .upload .button-wrapper + input {
  display: none;
}

.attention, .text-err, .txt_com {
  border: 1px solid #bcbcbc;
  padding: 30px 15px 30px 72px;
  position: relative;
  display: block;
}

.attention:before, .text-err:before, .txt_com:before {
  font-family: sans-serif;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  top: calc(50% - 21px);
  left: 15px;
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  display: inline-block;
  border: 1px solid #bcbcbc;
}

.msgError {
  border: 1px solid #f26650;
  padding: 11px 15px 11px 60px;
  position: relative;
  display: block;
  color: #f26650;
  margin: 10px 0 0;
}

.msgError:before {
  content: '!';
  border: 1px solid #f26650;
  font-family: sans-serif;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: 15px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  display: inline-block;
}

.attention:before, .txt_com:before {
  content: 'i';
}

.text-err {
  border-color: #f26650;
  color: #f26650;
}

.text-err:before {
  content: '!';
  border-color: #f26650;
}

@media (max-width: 479px) {
  .form label {
    line-height: 20px;
    padding: 0 0 5px;
  }
  .form label, .form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea, .form .msgError {
    width: 100%;
  }
  .form .button-wrapper {
    margin-left: 0;
  }
}

.gallery {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.photoWrapperGallery {
  display: block;
  border: 5px solid #fff;
  -ms-flex: 1 0 33.3333%;
  flex: 1 0 33.3333%;
  border-bottom: 1px solid #f26650;
}

.photoWrapperGallery p {
  margin: 0;
  padding: 5px;
  color: #ffbd7c;
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.photoWrapperGallery img {
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}

.photoWrapperGallery img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.photoWrapperGallery a {
  overflow: hidden;
  display: block;
}

.photoWrapperGallery:hover p, .photoWrapperGallery:hover img {
  border-color: #f26650;
}

@media (max-width: 639px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media (max-width: 479px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

.forum__actions {
  padding: 0;
  margin: 0;
  display: block;
}

.forum__actions:before, .forum__actions:after {
  content: " ";
  display: table;
}

.forum__actions:after {
  clear: both;
}

.forum__actions li {
  display: block;
  float: left;
}

.forum__actions li:not(:last-child) {
  margin-right: 15px;
}

.forum__topics {
  width: 100%;
  color: #f26650;
  border-collapse: collapse;
  border: 1px solid #363636;
}

.forum__topics th {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
}

.forum__topics th.titles {
  width: 80%;
}

.forum__topics th.topics {
  width: 10%;
}

.forum__topics th.answers {
  width: 10%;
}

.forum__topics td a {
  color: #f26650;
}

.forum__topics td a span, .forum__topics td a p {
  margin: 0;
  display: block;
}

.forum__topics td a span {
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.forum__topics th, .forum__topics td {
  padding: 5px;
  border: 1px solid #363636;
}

.listPosts {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: block;
}

.listPosts > li {
  display: block;
}

.listPosts > li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.postText, .topicText {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.postText:before, .postText:after, .topicText:before, .topicText:after {
  content: " ";
  display: table;
}

.postText:after, .topicText:after {
  clear: both;
}

.topicText {
  margin: 20px 0 0;
  background-color: #f0f0f0;
}

.postAuthor, .topicAuthor {
  padding: 15px;
  width: 200px;
  float: left;
  border-right: 1px dashed #ccc;
}

.postAuthor > *, .topicAuthor > * {
  display: block;
  margin: 0 auto 3px;
  text-align: center;
}

.postContent, .topicContent {
  width: calc(100% - 200px);
  float: left;
  padding: 15px 15px 40px;
  position: relative;
}

.postContent blockquote, .topicContent blockquote {
  border-left: 3px solid #363636;
  margin: 0;
  padding: 5px;
}

.postContent .respondButtonList, .topicContent .respondButtonList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.postContent .respondButtonList a:before, .topicContent .respondButtonList a:before {
  border-bottom-color: #f0f0f0;
}

.respondButtonList {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.respondButtonList:before, .respondButtonList:after {
  content: " ";
  display: table;
}

.respondButtonList:after {
  clear: both;
}

.respondButtonList li {
  display: block;
  float: left;
  margin: 5px;
  font-size: 0;
}

.respondButtonList a {
  color: #f26650;
  font-size: 1.4rem;
  line-height: 28px;
  height: 28px;
}

.respondButtonList a:after {
  right: 24px;
}

.forum__topics--link {
  display: block;
}

.forum__topics--holder {
  overflow-x: auto;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .forum__topics {
    min-width: 620px;
  }
}

@media (max-width: 639px) {
  .postText, .topicText {
    display: block;
  }
  .postAuthor, .topicAuthor {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 15px;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-right: 0;
    border-bottom: 1px dashed #ccc;
  }
  .postAuthor > *, .topicAuthor > * {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px 0 0;
  }
  .postContent, .topicContent {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .forumAvatarImage {
    display: none !important;
  }
  .respondButtonList .button-wrapper {
    padding: 0 25px 0 5px;
  }
  .respondButtonList .button-wrapper:after {
    display: none;
  }
}

.main {
  padding: 60px 0 0;
}

#advertsTopWrapper, #advertsLeftWrapper, #advertTop {
  display: block;
}

#advertsTopWrapper img, #advertsLeftWrapper img, #advertTop img {
  display: block;
  margin: 15px auto;
}

#skip_srch {
  height: 0;
  display: block;
  width: 0;
}

#crumbpath {
  font-size: 1.8rem;
}

#crumbpath a {
  color: inherit;
  text-decoration: underline;
}

#crumbpath a:hover {
  text-decoration: none;
}

.pagination {
  font-size: 2.4rem;
  display: block;
  text-align: center;
}

.pagination p {
  margin: 10px 0;
  display: block;
}

.pagination ul {
  margin: 0 auto;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul li {
  margin: 0 5px;
  display: block;
}

.pagination ul li a {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #f26650;
  display: block;
}

.pagination ul li a:hover {
  text-decoration: none;
  border-color: transparent;
}

.pagination ul li.pageActive {
  border-radius: 2px;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #363636;
}

.skipLinks {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.skipLinks a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #f26650;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skipLinks a {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #f26650;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skipLinks a:focus, .skipLinks a:hover, .skipLinks a:active, .skipLinks a:visited:focus, .skipLinks a:visited:hover, .skipLinks a:visited:active, .skipLinks a.keyboard-outline {
  left: 0;
  background-color: #fff;
  border: 2px solid #f26650;
  opacity: 1;
  outline: none !important;
}

.filesWrapper ul {
  padding: 0;
}

#cookiesMsgWrap {
  border-top: 1px solid #ffbd7c !important;
  color: #fff !important;
  background: #f26650 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

#cookiesMsgWrap a {
  color: #ffbd7c !important;
}

#cookiesMsgWrap a:hover {
  text-decoration: underline !important;
}

body#tinymce h3, body#tinymce h4, body#tinymce h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-family: 'Source Sans Pro', sans-serif !important;
}

body#tinymce h3 {
  font-size: 2.4rem;
}

body#tinymce h4 {
  font-size: 2.2rem;
}

body#tinymce h5 {
  font-size: 2rem;
}

body#tinymce h6 {
  font-size: 1.8rem;
}

body#tinymce table {
  border-collapse: collapse;
}

body#tinymce table caption, body#tinymce table td, body#tinymce table th {
  padding: 3px;
  border: 1px solid #ffbd7c !important;
}

body#tinymce table caption {
  border-bottom: 0 !important;
}

body#tinymce a {
  text-decoration: underline;
}

#welcome {
  margin-bottom: 20px;
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

.board .board-content h3, .board .board-content h4, .board .board-content h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-weight: 400;
  text-transform: none !important;
}

.board .board-content h3 {
  font-size: 2.4rem;
}

.board .board-content h4 {
  font-size: 2.2rem;
}

.board .board-content h5 {
  font-size: 2rem;
}

.board .board-content h6 {
  font-size: 1.8rem;
}

.board .board-content table {
  border-collapse: collapse;
  width: 100% !important;
}

.board .board-content table caption, .board .board-content table td {
  padding: 3px;
  border: 1px solid #ffbd7c !important;
}

.board .board-content table caption {
  border: 1px solid #ffbd7c !important;
  border-bottom: 0;
}

#cookiesMsg {
  width: 100% !important;
  max-width: 100% !important;
  padding: 10px 25px 0 25px !important;
  color: #fff !important;
  background: #f26650 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

#cookiesMsg a {
  color: #ffbd7c !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.sitemap__holder {
  display: block;
  margin: 20px 0;
}

.sitemap__holder h3 {
  display: block;
  margin: 0 0 5px;
  color: #f26650;
}

.sitemap__holder a {
  padding: 3px 0;
  display: inline-block;
  color: #666;
}

.sitemap__holder a:hover {
  text-decoration: underline;
}

.sitemap {
  list-style-type: circle;
  display: block;
  padding: 0 0 0 15px;
  margin: 0;
}

#jokes {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

#jokes li {
  border-bottom: 1px solid #ffbd7c;
  margin-bottom: 10px;
}

#jokes p {
  margin: 0;
}

#jokes .jokeText {
  margin-bottom: 5px;
}

#jokes .jokeNick {
  border-top: 1px dashed #ffbd7c;
  font-size: 1.4rem;
  padding: 3px 0;
}

#jokes .jokeNick strong {
  letter-spacing: 0.5px;
}

.txtMessage iframe ~ small {
  display: block;
  text-align: center;
}

.txtMessage iframe ~ small a {
  color: #363636 !important;
  text-decoration: underline !important;
}

.txtMessage iframe ~ small a:hover {
  text-decoration: none !important;
}

#welcome {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content_txt {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content_txt .borderNone {
  border: 0;
  margin: 0;
  padding: 0;
}

#content_txt > .text-err:not(:last-child) {
  margin-bottom: 20px;
}

.questionnaireList {
  margin: 0 0 10px;
  padding: 0;
}

.questionnaireList li {
  display: block;
}

.questionnaireList li:not(:last-child) {
  margin-bottom: 4px;
}

.questionnaireList label {
  margin-left: 10px;
}

.qAnswer {
  float: left;
  font-size: 1.4rem;
  line-height: 15px;
}

.qBar {
  transform: translateY(-15px);
  height: 4px;
  background-color: #f26650;
}

.qPercent {
  font-family: 'Source Sans Pro Bold', sans-serif;
  float: right;
  font-size: 2.4rem;
  color: #363636;
  line-height: 36px;
}

@media (max-width: 1199px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
  }
  .sitemap__holder {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 90px 0 0;
  }
  #cookiesMsgWrap {
    font-size: 1.4rem !important;
    line-height: 17px !important;
  }
  .sitemap__wrapper > div {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  .sitemap__holder {
    width: 50%;
  }
}

@media (max-width: 639px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .sitemap__holder {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .pagination ul {
    display: block;
  }
  .pagination ul li {
    display: inline-block;
    margin: 0 2px;
  }
  .pagination ul li.pageActive {
    width: 30px;
    height: 30px;
    line-height: 20px;
  }
  .pagination ul li a {
    white-space: nowrap;
    line-height: 20px;
    width: 30px;
    height: 30px;
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f26650;
  color: #444;
  text-shadow: none;
}

.fancybox-skin img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fancybox-skin p {
  margin: 10px 0 0;
  color: #fff;
  text-align: justify;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  height: auto !important;
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #f26650;
  border-bottom: 0;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-close::before, .fancybox-close::after {
  background-color: #ffbd7c;
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 4px;
}

.fancybox-close::before {
  transform: rotate(45deg) translateX(11px) translateY(7px);
}

.fancybox-close::after {
  transform: rotate(-45deg) translateX(-7px) translateY(11px);
}

.fancybox-close:hover {
  background-color: #ffbd7c;
}

.fancybox-close:hover::before, .fancybox-close:hover::after {
  background-color: #f26650;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  z-index: 8040;
}

.fancybox-nav:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  background-image: none;
}

.fancybox-nav span:before, .fancybox-nav span:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #ffbd7c;
}

.fancybox-prev span {
  left: 10px;
}

.fancybox-prev span:before {
  transform: rotate(45deg) translateX(22px) translateY(14px);
}

.fancybox-prev span:after {
  transform: rotate(-45deg) translateX(0) translateY(8px);
}

.fancybox-next span {
  right: 10px;
}

.fancybox-next span:before {
  transform: rotate(45deg) translateX(0) translateY(8px);
}

.fancybox-next span:after {
  transform: rotate(-45deg) translateX(-22px) translateY(14px);
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(255, 255, 255, 0.8);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  margin-top: 10px;
  transform: translateY(10px);
  padding: 5px 30px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: white;
  border-radius: 15px;
  color: #fff;
  background-color: #f26650;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

.main-footer {
  background-color: #ffbd7c;
  color: #000;
  height: 105px;
  margin: 50px 0 0;
}

.main-footer a {
  color: #000;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer ul {
  height: 105px;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
}

.main-footer ul:before, .main-footer ul:after {
  content: " ";
  display: table;
}

.main-footer ul:after {
  clear: both;
}

.main-footer li {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 16px;
}

.main-footer li:not(:last-child) {
  margin-right: 50px;
}

.main-footer li a {
  display: block;
  padding: 10px;
}

.main-footer #goTop {
  float: right;
  margin: 34px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  text-transform: uppercase;
  vertical-align: bottom;
  font-size: 1.4rem;
  line-height: 16px;
  position: relative;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-footer #goTop:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 26px;
  height: 14px;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/arrow-footer.png");
}

.footer--copyright {
  font-family: 'Source Sans Pro', sans-serif;
  color: #363636;
  height: 90px;
  line-height: 90px;
  font-size: 1.3rem;
  text-align: right;
}

.footer--copyright p {
  display: inline-block;
  margin: 0;
}

.footer--copyright p a {
  margin: 0;
}

.footer--copyright a {
  display: inline-block;
  color: inherit;
  margin: 0 15px 0 0;
  text-decoration: underline;
}

.footer--copyright a:hover {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .main-footer li:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .main-footer {
    background-color: #f26650;
  }
  .main-footer #goTop {
    float: none;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  .main-footer #goTop:before {
    background-image: url("../images/arrow-footer-light.png");
  }
  .footer--copyright {
    color: #000;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-footer {
    height: auto;
  }
  .main-footer #goTop {
    margin: 24px auto;
  }
}
