@font-face {
    font-family: 'chalk';
    src: url("../fonts/chalk.eot");
    src: local("☺"),
        url("../fonts/chalk.woff") format("woff"),
        url("../fonts/chalk.ttf") format("truetype"),
        url("../fonts/chalk.svg#chalk") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular.woff') format('woff'),
         url('../fonts/sourcesanspro-regular.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-semibold.eot');
    src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold.svg#droid_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-bold.eot');
    src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold.woff') format('woff'),
         url('../fonts/sourcesanspro-bold.ttf') format('truetype'),
         url('../fonts/sourcesanspro-bold.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?4929588");
    src: url("../fonts/fontello.eot?4929588#iefix")format("embedded-opentype"),
         url("../fonts/fontello.woff2?4929588") format("woff2"),
         url("../fonts/fontello.woff?4929588") format("woff"),
         url("../fonts/fontello.ttf?4929588") format("truetype"),
         url("../fonts/fontello.svg?4929588#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-left-open-big:before {
    content: '\e800'
}
.icon-right-open-big:before {
    content: '\e801'
}
.icon-up-open-big:before {
    content: '\e802'
}
.icon-down-open-big:before {
    content: '\e803'
}
.icon-quote:before {
    content: '\e804'
}
.icon-calendar:before {
    content: '\e805'
}
.icon-emo-happy:before {
    content: '\e806'
}
.icon-cancel:before {
    content: '\e807'
}
.icon-clock:before {
    content: '\e808'
}
.icon-menu:before {
    content: '\e819'
}
.icon-font-default:before {
    content: '\e81b'
}
.icon-font-bigger:before {
    content: '\e81c'
}
.icon-font-biggest:before {
    content: '\e81d'
}
.icon-contrast:before {
    content: '\e81e'
}
.icon-protected:before {
    content: '\e81f'
}
.icon-search:before {
    content: '\e820'
}
.icon-doc-text-inv:before {
    content: '\f15c'
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body#tinymce {
    margin: 0;
    padding: 20px;
    background: #fff;
    font-family: SourceSansPro, Tahoma, Arial, Helvetica, sans-serif;
    color: #393939;
    font-size: 14px;
}
body#tinymce p {
    margin: 0 0 10px;
}
body#tinymce strong,
body#tinymce b {
    font-family: SourceSansPro;
    font-weight: bold;
}
body#tinymce a {
    color: #D76765;
    outline: none;
}
body#tinymce a:link,
body#tinymce a:visited {
    text-decoration: none;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: underline;
}
body#tinymce img {
    max-width: 100%;
    height: auto;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
body#tinymce h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}
body#tinymce h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
body#tinymce h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
body#tinymce h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
body#tinymce table {
    margin: 10px 0;
    border: 1px solid #e7a2a1;
}
body#tinymce table caption {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: SourceSansPro;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
body#tinymce table th,
body#tinymce table td {
    border: 1px solid #e7a2a1;
    padding: 5px;
    font-size: 14px;
    font-family: SourceSansPro;
    font-weight: normal;
}
body#tinymce table th {
    background: #e7a2a1;
    color: #333;
    padding: 5px 10px;
}
body#tinymce table th:first-child {
    border: none;
}
body#tinymce blockquote {
    margin: 20px 40px;
    background: #fafafa;
    border: none;
    border-radius: 15px;
    padding: 20px 30px;
    position: relative
}
body#tinymce blockquote:before {
    position: absolute;
    content: '\e804';
    left: 5px;
    top: 5px;
    color: #e1e1e1;
    font-family: fontello;
}
body#tinymce cite {
    font-style: normal;
    color: #7b7b7b;
    border: none;
}