.articles {

}
.article {
	@include clearfix();
	position: relative;
	display: block;
	align-items: stretch;
	justify-content: flex-end;
	margin: 0 0 46px;
	&.article--highlighted {
		.article__content {
			background-color: $color2;
		}
		.article__link {
			background-color: $color1;
			border-color: $color1;
			&:hover {
				background-color: $color2;
			}
		}
	}
	.article__content {
		background-color: $color1;
	}
}
.article__date {
	position: absolute;
	right: -37px;
	top: -12px;
	width: 139px;
	height: 109px;
	background-image: url('../images/article-date.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 2.4rem;
	padding: 48px 0 0 32px;
}
.article__content {
	width: 100%;
	display: flex;
	min-height: 222px;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;	
	position: relative;
	padding: 25px 102px 70px 25px;
	float: right;
	color: $basic;
	h4 {
		font-family: 'Shadows-into-light', serif;
		font-size: 2.1rem;
		line-height: 23px;
		margin: 0 0 20px;
	}
	a {
		color: inherit;
	}
	p {
		font-size: 1.6rem;
		margin: 0;
	}
}
.article__image {
	display: block;
	float: left;
	width: 350px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	div {
		overflow: hidden;
		img {
			display: block;
			transition: all 0.3s ease;
		}
	}
	&:hover {
		div {
			img {
				transform: scale(1.1);
			}			
		}
	}
	& + .article__content {
		display: block;
		width: 100%;
		padding-left: 375px;
		position: absolute;
		top: 0;
		right: 0;
		border-width: 8px 0 0;
		border-style: solid;
		border-color: #fff;
		.article__link {
			left: 375px;
		}
	}
}
.article__link {
	height: 35px;
	line-height: 33px;
	padding: 0 19px;
	font-size: 1.6rem;
	color: #000 !important;
	position: absolute;
	left: 20px;
	bottom: 20px;
	border: 1px solid $color2;
	background-color: $color2;
	text-transform: uppercase;
	display: inline-block;
	&:hover, &:focus {
		text-decoration: none;
		background-color: $color1;
	}
}
@media (max-width: 1199px) {
	.article__image {
		width: 250px;
		& + .article__content {
			padding-left: 275px;
			.article__link {
				left: 275px;
			}
		}
	}
	.article__content {
		min-height: 180px;
	}
}
@media (max-width: 991px) {
	.article {
		margin: 0 0 60px;
	}
	.article__image {
		display: none;
		& + .article__content {
			position: static;
		}
	}
	.article__content {
		position: static;
		padding: 30px 25px 70px 40px !important;
	}
	.article__date {
		top: -53px;
		right: -10px;
	}
	.article__link {
		left: 40px !important;
	}
}
@media (max-width: 639px) {
	.article {
		margin: 0 0 40px;
	}
	.article__content {
		padding: 40px 12px 60px 15px !important;
	}
	.article__date {
		top: -32px;
		width: 89px;
		height: 70px;
		font-size: 1.8rem;
		padding: 30px 0 0 10px;
	}
	.article__link {
		left: 15px !important;
	}
}