.aside {
	.module_content {
		@include clearfix();
		text-align: center;
	}
	.heading {
		font-size: 2.2rem;
		letter-spacing: 0.5px;
		line-height: 26px;
	}
	a {
		color: inherit;
		transition: all 0.3s ease;
	}
	#mod_kzk {

	}
	#mod_calendar {
		p {
			margin: 0;
		}
	}
	#mod_stats {
		ul {
			padding: 0;
			margin: 0;
		}
	}
	#mod_calendar2 {
		text-align: center;
		font-size: 1.2rem;
		line-height: 15px;
		.caption_nav_prev, .caption_nav_next {
			display: block;
			position: relative;
			background-image: url('../images/arrow-dark.png');
			background-size: cover;
			width: 15px;
			height: 27px;
			font-size: 0;
			position: relative;
			z-index: 2;
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				&:hover {
					background-color: transparent;
				}
			}
		}
		.caption_nav_prev {
			float: left;
			margin-left: 20px;
		}
		.caption_nav_next {
			transform: rotate(180deg);
			float: right;
			margin-right: 20px;
		}
		.module_content {
			padding: 24px 12px 12px;
		}
		.calendar {
		    border-collapse: collapse;
		    border: 5px solid #fff;
			margin: 0 auto;
			width: 230px;
			caption {
				transform: translateY(-20px);
				text-transform: uppercase;
				font-size: 2.1rem;
			}
			th {
				height: 30px;
				font-weight: 400;
				background-color: #f6f6f6;
				vertical-align: middle;
			}
			tr {
				font-family: 'Source Sans Pro', sans-serif;
			}
			td {
				height: 25px;
				background-color: #f6f6f6;
				border: 1px solid #fff;
				vertical-align: middle;
				&.pr_day {
					background-color: $color1;
					color: #basic;
				}
				&.imp_day {
					background-color: #fff;
					color: #basic;
					a {
						&:hover {
							background-color: #f6f6f6;
						}
					}
				}
			}
			a {
				display: block;
				width: 100%;
				height: 25px;
				line-height: 25px;
				color: inherit;
			}
		}	
	}
	#mod_questionnaire {
		.module_content {
			text-align: left;
		}
		ul {
			padding: 0;
			margin: 10px 0;
		}
		label, .label {
			padding: 0;
			margin: 0 0 0 4px;
			border-radius: 0;
			font-size: 1.6rem;
			font-weight: 400;
			white-space: normal;
			color: $basic;
		}
		.button {
			background-color: #f1310e;
			color: #000;
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.7rem;
			line-height: 17px;
			padding: 9px 14px;
			border: 0;
			&:hover {
				text-decoration: none;
				background-color: $color2;
			}
		}
	}
	#mod_forum, #mod_contact, #mod_jokes, #mod_video, #mod_menu, #mod_gallery, #mod_newsletter {
		background: repeating-linear-gradient(-55deg, #ffc389, #ffc389 0.5px, transparent 2px, transparent 7px, #ffc389 7.5px);	
		border-right: 60px solid #fff;
		padding-right: 5px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			left: calc(100% - 25px);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	#mod_newsletter {
		&:before {
			width: 60px;
			height: 66px;
			background-image: url('../images/icons/newsletter.png');
		}
	}
	#mod_gallery {
		&:before {
			width: 62px;
			height: 66px;
			background-image: url('../images/icons/gallery.png');
		}
	}
	#mod_jokes {
		&:before {
			width: 62px;
			height: 56.5px;
			background-image: url('../images/icons/humor.png');
		}
	}
	#mod_menu {
		&:before {
			width: 60px;
			height: 57px;
			background-image: url('../images/icons/menu.png');
		}
	}
	#mod_video {
		&:before {
			width: 62px;
			height: 62px;
			background-image: url('../images/icons/videos.png');
		}
	}
	#mod_contact {
		.bolder {
			display: none;
		}
		h2 {
			text-align: left;
			margin: 0 0 22px 36px;
		}
		a {
			background-color: #f1310e;
			color: #000;
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.7rem;
			line-height: 17px;
			padding: 9px 14px;
			border: 0;
			&:hover {
				text-decoration: none;
				background-color: $color2;
			}
		}
		p {
			&.mail {
				word-break: break-all;
			}
		}
		&:before {
			width: 73px;
			height: 74px;
			background-image: url('../images/icons/contact.png');
		}
	}
	#mod_forum {
		h2 {
			text-align: left;
			margin: 0 0 22px 36px;
		}
		a {
			background-color: #f1310e;
			color: #000;
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.7rem;
			line-height: 17px;
			padding: 9px 14px;
			border: 0;
			&:hover {
				text-decoration: none;
				background-color: $color2;
			}
		}
		#modForum {
			display: none;
		}
		.bolder {
			display: none;
		}
		&:before {
			width: 74px;
			height: 76px;
			background-image: url('../images/icons/forum.png');
		}
	}
	#mod_weather {
		font-size: 1.3rem;
		line-height: 18px;
		.weatherLoc {
			font-size: 1.7rem;
			line-height: 20px;
		}
		.weatherTemp {
			font-size: 3rem;
			line-height: 34px;
			font-family: 'Teko-semibold', sans-serif;
		}
		.weatherIco {
			margin: 15px 0;
		}
		.weatherParam {
			display: none;
			&:not(.cloned) {
				display: block;
			}
		}
		ul {
			padding: 0;
			margin: 25px 0;
			text-align: center;
		}
	}
	#mod_login {
		.module_content {
			text-align: left;
		}
		fieldset {
			border: 0;
			margin: 0 auto;
			width: 100%;
			padding: 0;
		}
		legend {
			display: none;
		}
		label {
			font-size: 1.8rem;
			line-height: 20px;
			margin: 0 0 13px;
			text-transform: uppercase;
		}
		input[type="text"], input[type="password"] {
			margin: 0 0 10px;
			padding: 0 10px;
			line-height: 42px;
			height: 44px;
		}
		label, input[type="text"], input[type="password"] {
			width: 100%;
			display: block;
		}
		h2 {
			margin: 0 0 45px;
		}
		.button {
			display: inline-block;
			transition: all 0.3s ease;
			background-color: #f1310e;
			color: #000;
			text-transform: uppercase;
			font-size: 1.7rem;
			line-height: 17px;
			padding: 9px 27px;
			border: 0;
			margin: 10px 0 0;
			&:hover {
				text-decoration: none;
				background-color: $color2;
			}
		}
	}

}
.aside__modules {
	& > * {
		margin: 28px 0;
		padding: 46px 0 18px;
		background: repeating-linear-gradient(-55deg, #f4bfb5, #f4bfb5 0.5px, transparent 2px, transparent 10px, #f4bfb5 10.5px);	
		background-color: transparent;
		.module_content {
			padding: 0 36px;
		}
		&#mod_jokes, &#mod_video, &#mod_menu, &#mod_gallery, &#mod_forum, &#mod_contact, &#mod_newsletter {
			background: repeating-linear-gradient(-55deg, #ffc286, #ffc286 0.5px, transparent 2px, transparent 10px, #ffc286 10.5px);
		}
		h2 {
			font-family: 'Shadows-into-light', serif;
			color: $basic;
			font-size: 3rem;
			line-height: 33px;
			margin: 0 0 10px;
			text-align: center;
			text-transform: uppercase;
			display: block;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.aside__menu {
	margin: 30px 0 20px;
	.dropdown-menu {
		position: static;
		& > li {
			& > a {
				&:focus {
					background-color: transparent;
				}
			}
		}
	}
	& > ul {
		margin: 25px 0;
		padding: 0;
		& > li {
			& > a {
				position: relative;
				&:before, &:after {
					content: '';
					display: none;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
				}
				&:before {
					left: 0;
					top: 0;
					border-width: 32px 22px 0 0;
					border-color: #fff transparent transparent transparent;
				}
				&:after {
					right: 0;
					bottom: 0;
					border-width: 0 0 32px 22px;
					border-color: transparent transparent #fff transparent;
				}
				&.selected, &:focus, &:hover {
					background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
					background-color: transparent;
					color: $basic;
					text-decoration: none;
					&:before, &:after {
						display: block;
					}
				}
			}
		}
	}
	li {
		& > ul {
			padding: 0 0 0 30.5px;
			li {
				background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
				background-color: transparent;
				a {
					color: $basic;
					&.selected {
						background: repeating-linear-gradient(-55deg, #ffc892, #ffc892 0.5px, transparent 2px, transparent 7px, #ffc892 7.5px);
						background-color: transparent;
						color: $basic;
					}
				}
			}
		}
		& > a {
			color: $basic;
			height: 38px;
			line-height: 18px;
			font-size: 1.8rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0 15px;
			&:hover {
				background: repeating-linear-gradient(-55deg, $color1, $color1 0.5px, transparent 2px, transparent 7px, $color1 7.5px);
				color: $basic;
			}
		}
	}
	.heading {
		margin: 20px 0 0;
		&:first-of-type {
			margin-top: 0;
		}
	}
}
@media (max-width: 1199px) {
	.aside__modules {
		& > * {
			padding: 32px 0 18px;
			.module_content {
				padding: 0 26px;
			}
		}
	}
	.aside {
		#mod_forum, #mod_contact, #mod_jokes, #mod_video, #mod_menu, #mod_gallery, #mod_newsletter {
			border-width: 30px;
		}
		#mod_newsletter {
			h2 {
				font-size: 2.4rem;
			}
		}
		#mod_calendar2 {
			.calendar {
				width: 100%;
			}
		}
	}
}
@media (min-width: 992px) {
	.aside__modules {
		& > * {
			height: auto !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#modulesLeftWrapper {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& > * {
			flex: 1 1 auto;
			width: calc(50% - 30px);
			margin: 15px !important;
		}
	}
}
@media (max-width: 991px) {
	.aside {
		.module_content {
			padding: 24px;
		}
		#calendarNews {
			position: relative;
		}
		#mod_login {
			h2 {
				margin: 0 0 0 25px;
				text-align: left;
			}
		}
		#mod_programs {
			border-left: 15px solid #fff;
			border-right: 15px solid #fff;
		}
		#mod_weather {
			#weatherInfo {
				@include clearfix();
				display: flex;
				align-items: center;
				justify-content: center;
			}
			ul {
				margin: 0;
			}
			.weatherParam {
				width: 40%;
				margin: 15px 0;
				float: left;
				display: flex;
				align-items: stretch;
				justify-content: center;
				&:not(.cloned) {
					ul {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: column;
					}
					li {
						&:not(.weatherIco):not(.weatherTemp):not(.weatherLoc) {
							display: none;
						}
					}
				}
				&.cloned {
					.weatherIco, .weatherTemp, .weatherLoc {
						display: none;
					}
				}
			}
		}	
		#mod_calendar2 {
			position: relative;
			.caption_nav_next, .caption_nav_prev {
				position: absolute;
				top: 40%;
				margin: 0;
			}
			.caption_nav_next {
				left: calc(50% + 120px);
				transform: rotate(180deg);
			}
			.caption_nav_prev {
				right: calc(50% + 120px);
			}
			.calendar {
				width: 216px;
				caption {
					transform: translateY(10px);
					caption-side: bottom;
				}
			}
		}
	}
	.aside__modules {
		& > * {
			background: repeating-linear-gradient(-55deg, $color1, $color1 0.5px, transparent 2px, transparent 13px, $color1 13.5px);	
			height: auto !important;
			h2 {
				text-align: left;
				padding-left: 25px;
			}
		}
	}
	.aside__menu {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	.aside {
		#mod_forum, #mod_contact, #mod_jokes, #mod_video, #mod_menu, #mod_gallery, #mod_newsletter {
			&:before {
				transform: scale(0.9) translateX(-5px) rotate(360deg);
			}
		}
		#mod_programs {
			border-width: 0;
		}
		#mod_calendar2 {
			.calendar {
				width: 240px;
			}
			.caption_nav_prev {
				right: calc(50% + 130px);
			}
			.caption_nav_next {
				left: calc(50% + 130px);
			}
		}
	}
	.modules-main {
		& > ul {
			& > li {
				border-left-width: 0;
				border-right-width: 0;
				&:last-child {
					border-bottom-width: 0;
				}
			}
		}
	}
}
@media (max-width: 420px) {
	.aside {
		#mod_weather {
			.weatherParam {
				width: 100%;
				&:not(.cloned) {
					display: none;
				}
				&.cloned {
					.weatherIco, .weatherTemp, .weatherLoc {
						display: block;
					}
				}
			}
		}
	}
}