.main-footer {
	background-color: $color1;
	color: #000;
	height: 105px;
	margin: 50px 0 0;
	a {
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		@include clearfix();
		height: 105px;
		vertical-align: middle;
		text-transform: uppercase;
		padding: 10px 0;
		margin: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 1.4rem;
		line-height: 16px;
		&:not(:last-child) {
			margin-right: 50px;
		}
		a {
			display: block;
			padding: 10px;
		}
	}
	#goTop {
		float: right;
		margin: 34px 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 40px;
		text-transform: uppercase;
		vertical-align: bottom;
		font-size: 1.4rem;
		line-height: 16px;
		position: relative;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			width: 26px;
			height: 14px;
			background-position: center center;
			background-size: cover;
			background-image: url('../images/arrow-footer.png');
		}
	}
}
.footer--copyright {
	font-family: 'Source Sans Pro', sans-serif;
	color: $basic;
	height: 90px;
	line-height: 90px;
	font-size: 1.3rem;
	text-align: right;
	p {
		display: inline-block;
		margin: 0;
		a {
			margin: 0;
		} 
	}
	a {
		display: inline-block;
		color: inherit;
		margin: 0 15px 0 0;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
@media (max-width: 1199px) {
	.main-footer {
		li {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
@media (max-width: 991px) {
	.main-footer {
		background-color: $color2;
		#goTop {
			float: none;
			margin-left: auto;
			margin-right: auto;
			color: #fff;
			&:before {
				background-image: url('../images/arrow-footer-light.png');
			}
		}
	}
	.footer--copyright {
		color: #000;
		text-align: center;
	}
}
@media (max-width: 767px) {
	.main-footer {
		height: auto;
		#goTop {
			margin: 24px auto;
		}
	}
}