.headmodules {
	background-color: $color1;
	color: $basic;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	text-align: center;
	a {
		color: $basic;
		&:hover {
			text-decoration: underline;
		}
	}
	font-size: 2rem;
	h2 {
		position: relative;
		font-family: 'Shadows-into-light', serif;
		color: #000;
		font-weight: bold;
		height: 34px;
		font-size: 2.9rem;
		line-height: 31px;
		padding: 3px 30px;
		letter-spacing: 0.5px;
		margin: 0 0 18px;
		display: block;
		background: repeating-linear-gradient(-55deg, #b66c23, #b66c23 0.5px, transparent 2px, transparent 7px, #b66c23 7.5px);
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
		}
		&:before {
			left: 0;
			top: 0;
			border-width: 32px 22px 0 0;
			border-color: $color1 transparent transparent transparent;
		}
		&:after {
			right: 0;
			bottom: 0;
			border-width: 0 0 32px 22px;
			border-color: transparent transparent $color1 transparent;
		}
	}
	.module__holder {
		font-size: 2rem;
		line-height: 23px;
		ul {
			margin: 0;
			padding: 0;
		}
		p {
			margin: 0;
		}
	}
	.module__content {
		@include clearfix();
	}
	#mod_stats {
		ul {
			padding: 0;
			margin: 5px 0 0;
		}
	}
	#mod_login {
		legend {
			display: none;
		}
		fieldset {
			@include clearfix();
			display: block;
			width: 100%;
			border: 0;
			margin: 0;
			padding: 0;
		}
		label {
			width: 50px;
			display: block;
			float: left;
			line-height: 33px;
		}
		input[type="text"], input[type="password"] {
			display: block;
			float: left;
			margin-bottom: 5px;
			width: calc(100% - 50px);
			height: 33px;
			line-height: 31px;
		}
		input[type="submit"] {
			margin-left: 50px;
			display: block;
		}
	}
}
.headmodules__holder {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	& > li {
		display: block;
		width: calc(25% - 50px);
		margin: 0 25px;
		&#mod_kzk {
			width: 38%;
		}
		&#mod_contact {
			p {
				margin: 0;
			}
			a[href^="mailto"], p.mail {
				word-break: break-all;
			}	
		}
	}
}
@media (max-width: 1199px) {
	.headmodules {
		h2 {
			padding: 8px 30px;
			font-size: 2rem;
			height: auto;
			line-height: 18px;
		}
	}
}
@media (max-width: 991px) {
	.headmodules {
		width: calc(100% + 30px);
		transform: translateX(-15px);
		h2 {
			display: inline-block;
			& + * {
				display: block;
			}
		}
		.module__content {
			padding: 0 20px;
		}
	}
	.headmodules__holder {
		flex-wrap: wrap;
		align-items: stretch;
		& > li {
			flex: 1 0 50%;
			width: 50%;
			margin: 0 auto;
			border-style: solid;
			border-color: transparent;
			border-width: 15px 20px;
			&#mod_kzk {
				width: 50%;
			}
		}
	}
}
@media (max-width: 479px) {
	.headmodules__holder {
		@include clearfix();
		display: block;
		& > li {
			flex: 1 0 100%;
			display: block;
			width: 100%;
			max-width: 370px;
			margin: 15px auto;
			&#mod_kzk {
				width: 100%;
			}
		}
	}
}