.hero {
	position: relative;
	height: 676px;
	.container-fluid, .row, .col-xs-12 {
		padding: 0 !important;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
.hero__carousel, .hero__name {
	position: absolute;
	height: 100%;
	width: 1170px;
	left: calc(50% - 585px);
}
.hero__background {
	height: 676px;
	background-size: cover;
	background-position: center center;
}
.hero__name {
	h1 {
		font-family: 'Shadows-into-light', serif;
		font-size: 2.8rem;
		line-height: 31px;
		color: #010101;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-transform: uppercase;
		z-index: 8;
		bottom: -9px;
		margin: 0;
		padding: 20px 105px 20px 50px;
		right: -1px;
		background-image: url('../images/hero/ribbon.png');
		background-size: cover;
		background-repeat: no-repeat;
		width: 656px;
		height: 124px;
		span {
			display: none;
		}
	}
}
.hero__address {
	position: absolute;
	width: 564px;
	height: 297px;
	bottom: -21px;
	z-index: 7;
	right: calc(50% + 325px);
	background-image: url('../images/hero/rainbow.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: #010101;
	& > div {
		position: absolute;
		bottom: 33px;
		right: 35px;
		font-size: 2rem;
		line-height: 23px;
		width: 200px;
		color: #010101;
		text-align: center;
		a {
			color: inherit;
			&[href^="mailto"] {
				word-break: break-all;
			}
		}
		&:before {
			right: 54px;
			top: -26px;
			position: absolute;
			content: 'Adres';
			text-transform: uppercase;
			font-family: 'Shadows-into-light', serif;
			font-size: 3rem;
		}
	}
	p {
		margin: 0;
	}
}
.hero__object {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
}
@media (max-width: 1460px) {
	.hero__name {
		h1 {
			font-size: 2.1rem;
			line-height: 24px;
			padding-right: 205px;
		}
	}
}
@media (max-width: 1340px) {
	.hero__name {
		h1 {
			font-size: 1.9rem;
			line-height: 23px;
			padding-right: 235px;
		}
	}
}
@media (max-width: 1240px) {
	.hero__name {
		h1 {
			padding-right: 300px;
		}
	}
}
@media (max-width: 1199px) {
	.hero__address {
		right: auto;
		left: -284px;
	}
	.hero__carousel, .hero__name {
		width: 100%;
		left: 0;
		right: 0;
	}
}
@media (max-width: 991px) {
	.hero, .hero__background {
		height: 838px;
	}
	.hero__name {
		h1 {
			padding-right: 30px;
			font-size: 2.1rem;
			line-height: 24px;
		}
	}
	.hero__object {
		bottom: -54px;
		width: 365px;
		height: auto;
		z-index: 6;
	}
	.hero__address {
		width: 675px;
		height: 387px;
		bottom: -38px;
		background-image: url('../images/hero/rainbow-mobile.png');
		& > div {
			bottom: auto;
			top: 90px;
			right: 66px;
			a[href^="mailto"] {
				word-break: break-all;
			}
		}
	}
}
@media (max-width: 680px) {
	.hero__name {
		h1 {
			right: -120px;
			padding-right: 150px;
		}
	}
}
@media (max-width: 639px) {
	.hero, .hero__background {
		height: 534px;
	}
	.hero__name {
		h1 {
			right: 0;
			padding-right: 30px;
			height: 90px;
			width: 476px;
		}
	}
	.hero__object {
		bottom: -100px;
	}
	.hero__address {
		width: 448px;
		height: 257px;
		left: -200px;
		bottom: -52px;
		& > div {
			top: 60px;
			right: 11px;
			font-size: 1.6rem;
			line-height: 18px;
		}
	}
}
@media (max-width: 520px) {
	.hero__name {
		h1 {
			font-size: 2rem;
			right: -40px;
			padding-right: 50px;
		}
	}
}
@media (max-width: 479px) {
	.hero__address {
		bottom: -30px;
	}
	.hero__object {
		width: 320px;
		bottom: -50px;
	}
	.hero__name {
		h1 {
			right: -200px;
			padding: 15px 210px 15px 40px;
			font-size: 1.5rem;
			line-height: 17px;
		}
	}
}