.main {
	padding: 60px 0 0;
}


#advertsTopWrapper, #advertsLeftWrapper, #advertTop {
	display: block;
	img {
		display: block;
		margin: 15px auto;
	}
}
#skip_srch {
	height: 0;
	display: block;
	width: 0;
}
#crumbpath {
	font-size: 1.8rem;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.pagination {
	font-size: 2.4rem;
	display: block;
	text-align: center;
	p {
		margin: 10px 0;
		display: block;
	}
	ul {
		margin: 0 auto;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin: 0 5px;
			display: block;
			a {
				padding: 5px;
				width: 40px;
				height: 40px;
				border-radius: 2px;
				border: 1px solid $color2;
				display: block;
				&:hover {
					text-decoration: none;
					border-color: transparent;
				}
			}
			&.pageActive {
				border-radius: 2px;
				padding: 5px;
				width: 40px;
				height: 40px;
				border: 1px solid $basic;
			}
		}
	}
}
.skipLinks {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
	a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    color: $color2;
	    width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
	}
	a {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    color: $color2;
	    width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
	    &:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active, &.keyboard-outline {
		    left: 0;
		    background-color: #fff;
		    border: 2px solid $color2;
		    opacity: 1;
		    outline: none !important;
		}
	}
}
.filesWrapper {
	ul {
		padding: 0;
	}
}
#cookiesMsgWrap {
	border-top: 1px solid $color1 !important;
	color: #fff !important;
	background: $color2 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
body#tinymce {
	h3, h4, h5 {
		margin: 10px 0;
		border: 0;
		padding: 0;
		background: none;
		font-family: 'Source Sans Pro', sans-serif !important;
	}
	h3 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 2rem;
	}
	h6 {
		font-size: 1.8rem;
	}
	table {
		border-collapse: collapse;
		caption, td, th {
			padding: 3px;
			border: 1px solid $color1 !important;
		}
		caption {
			border-bottom: 0 !important;
		}
	}
	a {
		text-decoration: underline;
	}
}
#welcome {
	margin-bottom: 20px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.board {
	.board-content {
		h3, h4, h5 {
			margin: 10px 0;
			border: 0;
			padding: 0;
			background: none;
			font-weight: 400;
			text-transform: none !important;
		}
		h3 {
			font-size: 2.4rem;
		}
		h4 {
			font-size: 2.2rem;
		}
		h5 {
			font-size: 2rem;
		}
		h6 {
			font-size: 1.8rem;
		}
		table {
			border-collapse: collapse;
			width: 100% !important;
			caption, td {
				padding: 3px;
				border: 1px solid $color1 !important;
			}
			caption {
				border: 1px solid $color1 !important;
				border-bottom: 0;
			}
		}
	}
}
#cookiesMsg {
	width: 100% !important;
	max-width: 100% !important;
	padding: 10px 25px 0 25px !important;
	color: #fff !important;
	background: $color2 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.sitemap__holder {
	display: block;
	margin: 20px 0;
	h3 {
		display: block;
		margin: 0 0 5px;
		color: $color2;
	}
	a {
		padding: 3px 0;
		display: inline-block;
		color: #666;
		&:hover {
			text-decoration: underline;
		}
	}
}
.sitemap {
	list-style-type: circle;
	display: block;
	padding: 0 0 0 15px;
	margin: 0;
}
#jokes {
	margin: 0;
	padding: 0;
	font-size: 1.8rem;
	li {
		border-bottom: 1px solid $color1;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
	.jokeText {
		margin-bottom: 5px;
	}
	.jokeNick {
		border-top: 1px dashed $color1;
		font-size: 1.4rem;
		padding: 3px 0;
		strong {
			letter-spacing: 0.5px;
		}
	}
}
.txtMessage {
	iframe {
		& ~ small {
			display: block;
			text-align: center;
			a {
				color: $basic !important;
				text-decoration: underline !important;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
}
#welcome {
	word-wrap: break-word;
	overflow-wrap: break-word;
}
#content_txt {
	word-wrap: break-word;
	overflow-wrap: break-word;
	.borderNone {
		border: 0;
		margin: 0;
		padding: 0;
	}
	& > .text-err {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.questionnaireList {
	margin: 0 0 10px;
	padding: 0;
	li {
		display: block;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	label {
		margin-left: 10px;
	}
}
.qAnswer {
	float: left;
	font-size: 1.4rem;
	line-height: 15px;
}
.qBar {
	transform: translateY(-15px);
	height: 4px;
	background-color: $color2;
}
.qPercent {
	font-family: 'Source Sans Pro Bold', sans-serif;
	float: right;
	font-size: 2.4rem;
	color: $basic;
	line-height: 36px;
}
@media (max-width: 1199px) {
	.sitemap__wrapper {
		& > div {
			flex: 1 0 33.3333%;
		}
	}
	.sitemap__holder {
		width: 33.3333%;
	}
}
@media (max-width: 767px) {
	.main {
		padding: 90px 0 0;
	}
	#cookiesMsgWrap {
		font-size: 1.4rem !important;
		line-height: 17px !important;
	}
	.sitemap__wrapper {
		& > div {
			flex: 1 0 50%;
		}
	}
	.sitemap__holder {
		width: 50%;
	}
}
@media (max-width: 639px) {
	.sitemap__wrapper {
		& > div {
			flex: 1 0 100%;
		}
	}
	.sitemap__holder {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
}
@media (max-width: 400px) {
	.pagination {
		ul {
			display: block;
			li {
				display: inline-block;
				margin: 0 2px;
				&.pageActive {
					width: 30px;
					height: 30px;
					line-height: 20px;
				}
				a {
					white-space: nowrap;
					line-height: 20px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}