.modules-main {
	& > ul {
		display: flex;
		align-items: stretch;
		padding: 0;
		justify-content: center;
		text-align: center;
		& > li {
			display: block;
			position: relative;
			width: 238px;
			background: repeating-linear-gradient(-55deg, #ffc286, #ffc286 0.5px, transparent 2px, transparent 10px, #ffc286 10.5px);
			&:not(:first-child):not(:last-child) {
				margin: 0 15px;
			}
			&:first-child {
				margin-right: 15px;
			}
			&:last-child {
				margin-left: 15px;
			}
			&:hover {
				background: repeating-linear-gradient(-55deg, $modulesColorHover, $modulesColorHover 0.5px, transparent 2px, transparent 10px, $modulesColorHover 10.5px);
			}
			&:before {
				content: '';
				display: block;
				width: 122px;
				height: 25px;
				background-size: 122px 25px;
				background-repeat: no-repeat;
				background-position: right center;
				background-image: url('../images/arrow-right.png');
				overflow: hidden;
				position: absolute;
				left: calc(50% - 66px);
				bottom: 27px;
			}
			& > div {
				position: relative;
				padding: 0 0 60px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: calc(100% - 8px);
					background-size: cover;
					background-repeat: no-repeat;
					left: 50%;
					transform: translateX(-50%);
				}
				&#mod_newsletter {
					font-size: 1.5rem;
					&:before {
						width: 80px;
						height: 88px;
						background-image: url('../images/icons/newsletter.png');
					}
				}
				&#mod_contact {
					&:before {
						width: 73px;
						height: 74px;
						background-image: url('../images/icons/contact.png');
					}		
					a[href^="mailto"] {
						word-break: break-all;
					}		
				}
				&#mod_gallery {
					&:before {
						width: 81px;
						height: 87px;
						background-image: url('../images/icons/gallery.png');
					}
				}
				&#mod_calendar2 {
					&:before {
						width: 115px;
						height: 87px;
						background-image: url('../images/icons/calendar.png');
					}
				}
				&#mod_forum {
					&:before {
						width: 74px;
						height: 76px;
						background-image: url('../images/icons/forum.png');
					}
					.keyboard-outline.button {
						outline-color: red !important;
					}
					.button {
						&:hover {
							text-decoration: underline;
						}
					}
					#modForum, .bolder {
						display: none;
					}
				}
				&#mod_jokes {
					&:before {
						width: 91px;
						height: 83px;
						background-image: url('../images/icons/humor.png');
					}
				}
				&#mod_location {
					&:before {
						width: 83px;
						height: 78px;
						background-image: url('../images/icons/location.png');
					}
				}
				&#mod_kzk {
					&:before {
						width: 86px;
						height: 86px;
						background-image: url('../images/icons/kzk.png');
					}
				}
				&#mod_timetable {
					&:before {
						width: 70px;
						height: 90px;
						background-image: url('../images/icons/timetable.png');
					}
				}
				&#mod_stats {
					width: 96px;
					height: 87px;
					background-image: url('../images/icons/stats.png');
				}
				&#mod_login {
					&:before {
						width: 115px;
						height: 87px;
						background-image: url('../images/icons/login.png');
					}
				}
				&#mod_menu {
					&:before {
						width: 95px;
						height: 90px;
						background-image: url('../images/icons/menu.png');
					}
				}
				&#mod_video {
					&:before {
						width: 74px;
						height: 74px;
						background-image: url('../images/icons/videos.png');
					}
				}
				& > h2 {
					font-family: 'Shadows-into-light', serif;
					color: #000;
					text-transform: uppercase;
					display: block;
					font-weight: bold;
					font-size: 3rem;
					line-height: 32px;
					padding: 37px 0 25px;
					margin: 0;
				}
			}
			a, p {
				margin: 0;
				font-size: 1.8rem;
				line-height: 20px;
				color: inherit;
				display: block;
				word-break: break-word;
				padding: 0 50px;
			}
			a {
				padding: 0 50px;
				&.keyboard-outline {
					outline-offset: -2px !important;
				}
			}
			p {
				padding: 0 5px;
			}
		}
	}
}
#modulesTop2 {
	margin: 65px 0 0;
}
#modulesBottom {
	margin: 105px 0 0;
}
@media (max-width: 1199px) {
	.modules-main {
		margin: 0;
		& > ul {
			& > li {
				width: 215px;
				&:not(:first-child):not(:last-child) {
					margin: 0 15px;
				}
				&:first-child, &:last-child {
					margin: 0;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.modules-main {
		& > ul {
			flex-wrap: wrap;
			justify-content: flex-start;
			& > li {
				background: repeating-linear-gradient(-55deg, $color1, $color1 0.5px, transparent 2px, transparent 13px, $color1 13.5px);	
				padding: 30px 90px;
				border: 15px solid #fff;
				&.one {
					width: 100%;
					flex: 1 0 100%;
					max-width: 100%;
				}
				&.two {
					width: 50%;
					flex: 1 0 50%;
					max-width: 50%;
					padding-right: 50px;
				}
				&.three {
					width: 33.3333%;
					flex: 1 0 33.3333%;
					max-width: 33.3333%;
					padding-right: 30px;
				}
				&:not(:first-child):not(:last-child), &:first-child, &:last-child {
					margin: 0;
				}
				&:before {
					width: 111px;
					left: auto;
					bottom: 10px;
					right: 25px;
				}
				& > div {
					padding: 0;
					& > h2 {
						padding: 0;
						margin: 0 0 10px;
						text-align: left;
						font-size: 2rem;
						line-height: 24px;
					}
					&:before {
						top: 50%;
						transform: translateY(-50%) scale(0.8);
						right: calc(100% + 2px);
						left: auto;
					}
				}
				a, p {
					text-align: left;
					padding: 0;
				}
			}
		}
	}
	#modulesTop2 {
		margin-top: 15px;
	}
	#modulesBottom {
		margin-top: 0;
	}
}
@media (max-width: 767px) {
	.modules-main {
		width: 100%;
		transform: none;
		& > ul {
			flex-wrap: auto;
			display: block;
			& > li {
				max-width: 100% !important;
				flex: 1 0 100% !important;
				width: 100% !important;
				&:before {
					right: 20px;
					bottom: 10px;
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.modules-main {
		& > ul {
			& > li {
				padding: 15px 15px 40px;
				& > div {
					&:before {
						display: none !important;
					}
				}
			}
		}
	}
}