.main-nav {
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	min-height: 150px;
	background-color: rgba(255,255,255,0.8);
	color: #000;
	a {
		color: #000;
	}
	.dropdown-backdrop {
		display: none;
	}
}
.nav__tools {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	li {
		display: block;
		float: left;
	}
}
.nav__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px 22px;
	font-size: 1.2rem;
	height: 87px;
	position: relative;
	&:before {
		content: '';
		width: calc(100% + 30px);
		height: 1px;
		background-color: #cfcabc;
		display: block;
		position: absolute;
		left: -15px;
		right: 0;
		bottom: 0;
	}
}
.nav__hamburger {
	display: none;
	margin: 20px 0 15px;
	padding: 5px;
	width: 40px;
	height: 33px;
	border: 0;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	i {
		transition: all .3s ease;
		display: block;
		width: 100%;
		height: 3px;
		background-color: #de6005;
		&:not(:last-of-type) {
			margin-bottom: 7px;
		}
	}
	span {
		display: none;
	}
	&.active {
		i {
			&:first-of-type {
				transform: rotate(45deg) translateX(8px) translateY(7px);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: rotate(-45deg)  translateX(7px) translateY(-6px);
			}
		}
	}
}
.nav__home {
	display: block;
	position: absolute;
	width: 36px;
	height: auto;
	left: 0;
	top: 23px;
}
.nav__bip {
	display: block;
	margin: 0 30px 0 0;
	img {
		&:first-child {
			display: inline;
		}
		&:last-child {
			display: none;
		}
	}
}
.nav__sitemap {
	display: block;
	line-height: 13px;
	margin: 0 30px 0 0;
	img {
		display: inline-block;
		margin-right: 5px;
	}
}
.nav__contrast {
	display: block;
	line-height: 17px;
	margin: 0 30px 0 0;
	img {
		display: inline-block;
		margin-left: 5px;
		height: 17px;
		width: auto;
		&:last-of-type {
			display: none;
		}
	}
}
.nav__fonts {
	@include clearfix();
	display: block;
	font-family: 'Source Sans Pro Semibold', sans-serif;
	margin: 0 25px 0 0;
	padding: 0;
	font-size: 0;
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 7px;
		}
		a {
			color: #000;
			&.medium {
				font-size: 18px;
			}
			&.big {
				font-size: 20px;
			}
			&.large {
				font-size: 22px;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
.nav__content--mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	& > div {
		display: block;
	}
}
.nav__search {
	width: 202px;
	height: 38px;
	font-size: 1.4rem;
	border: 1px solid #f1310e;
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	button {
		transition: all 0.3s ease;
		float: right;
		width: 38px;
		height: 36px;
		background-color: #f1310e;
		background-size: 21px 19px;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		background-image: url('../images/nav/search-color2.png');
		outline: 0;
		border: 0;
		font-size: 0;
		&:hover {
			background-color: #f1310e + #333;
		}
	}
	input {
		font-size: 1.2rem;
		display: block;
		width: calc(100% - 38px);
		line-height: 36px;
		padding: 0 14px;
		height: 36px;
		border: 0;
		outline: 0;
		float: left;
	}
}
.nav__menu {
	font-family: 'Teko', sans-serif;
	display: block;
	float: left;
	text-align: center;
	min-height: 63px;
	& > ul {
		@include clearfix();
		transform: translateX(-15px);
		padding: 0;
		margin: 15px 0 0;
		font-size: 0;
		text-align: left;
		display: block;
		min-height: 48px;
		text-transform: uppercase;
		& > li {
			display: inline-block;
			vertical-align: middle;
			position: static;
			font-size: 1.6rem;
			& > a {
				display: block;
				position: relative;
				padding: 16px 15px;
				&:before {
					transition: all .3s ease;
					content: '';
					width: 35px;
					height: 47px;
					display: block;
					position: absolute;
					left: 50%;
					transform: translateX(-50%) scale(0);
					top: -47px;
					background-image: url('../images/nav/hover.png');
					background-size: cover;
					background-repeat: no-repeat;
					z-index: 8;
				}		
				&:hover, &:focus {
					color: #363636;
					text-decoration: none;
					&:before {
						transform: translateX(-50%) scale(1);
					}
				}	
			}
			&.open {
				& > a {
					&:before {
						transform: translateX(-50%) scale(1);
					}
				}
			}
			&:not(:last-child) {
				margin-right: 45px;
			}
			.menu-icon {
				display: none;
			}
			ul {
				display: none;
				z-index: 8;
				position: absolute;
				top: 100%;
				left: auto;
				margin: 0;
				width: 200px;
				padding: 3px 60px 3px 10px;
				background-color: rgba(255,255,255,0.7);
				li {
					display: block;
					font-size: 1.4rem;
					a {
						color: #565859;
						display: block;
						padding: 5px 0;
						&:hover, &:focus {
							text-decoration: none;
							background-color: inherit;
							color: $color2;
						}
					}
					&:not(:last-child) {
						border-bottom: 1px solid #d3f3ed;
					}
				}
				&.active {
					display: block;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.main-nav {
		min-height: 124px;
	}
	.nav__tools {
		display: inline-block;
	}
	.nav__hamburger {
		display: block;
	}
	.nav__sitemap {
		display: none;
	}
	.nav__fonts {
		display: none;
	}
	.nav__holder {
		min-height: 0;
		& > .col-xs-12 {
			position: static !important;
		}
	}
	.nav__search {
		width: auto;
		position: relative;
		border: 0;
		float: left;
		margin: 3px 0 0;
		input {
			display: none;
		}
		button {
			background-image: url('../images/nav/search-color1.png');
			background-size: 25px 23px;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
		&:before {
			content: '';
			width: 36px;
			height: 38px;
			top: 0;
			right: 0;
			position: absolute;
			display: block;
			cursor: pointer;
		}
		&.active {
			input {
				position: absolute;
				display: block;
				top: 0;
				right: 44px;
				width: 200px;
				border: 1px solid #de6005;
			}
			&:before {
				display: none;
			}
		}
	}
	.nav__home {
		display: block;
		position: static;
		float: left;
		margin: 0;
	}
	.nav__menu {
		display: none;
		position: absolute;
		top: 68px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #de6005;
		&.active {
			display: block;
		}
		.dropdown-menu {
			text-align: center;
			& > li {
				& > a {
					font-size: 1.6rem;
					color: inherit;
				}
			}
		}
		& > ul {
			& > li {
				position: relative;
				ul {
					li {
						&:not(:last-child) {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
	.nav__bip {
		float: left;
		margin: 6px 0 0 16px;
	}
	.nav__contrast {
		margin: 7px 16px 0;
		font-size: 0;
		line-height: auto;
		float: left;
		padding: 5px;
		position: relative;
		&:before {
			content: '';
			width: 1px;
			height: 20px;
			background-color: #de6005;
			position: absolute;
			right: -10px;
			top: 4px;
		}
		img {
			transform: none;
			margin: 0;
			&:first-of-type {
				display: none;
			}
			&:last-of-type {
				transform: none;
				display: inline-block;
			}
		}
	}
	.nav__content {
		@include clearfix();
		display: block;	
		padding: 8px 0 0;
		height: 56px;
		&:before {
			content: '';
			width: calc(100% + 30px);
			height: 1px;
			background-color: #fef8ef;
			display: block;
			position: absolute;
			left: -15px;
			right: 0;
			top: 0;
		}
		&:after {
			content: '';
			width: calc(100% + 30px);
			height: 1px;
			background-color: #feedd9;
			display: block;
			position: absolute;
			left: -15px;
			right: 0;
			top: 1px;
		}
	}
	.nav__content--mobile {
		@include clearfix();
		display: block;
		float: right;
	}
	.nav__menu {
		height: auto;
		& > ul {
			transform: none;
			margin: 0;
			height: auto;
			text-align: center;
			& > li {
				display: block;
				&:not(:last-child) {
					margin-right: 0;
				}
				& > a {
					&:before {
						display: none;
					}
					&:hover, &.selected {
						background-color: #de6005 + #333;
					}
				}
				ul {
					width: 100%;
					position: static;
					padding: 0;
					background-color: #f5d0b4;
					li {
						a {
							padding: 16px 15px;
							&:hover, &.selected {
								background-color: #f5d0b4 + #333;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.nav__bip {
		img {
			&:first-child {
				display: none;
			}
			&:last-child {
				display: inline;
			}
		}
	}
}