$basic: #363636;
$color1: #ffbd7c;
$color2: #f26650;
$modulesColorHover: #ffc286 + #222;
* {
  box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body, html {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	color: $basic;
	overflow-x: hidden;
}
body {
	font-size: 1.6rem;
}
a {
	text-decoration: none;
	outline: 0;
	display: inline-block;
	transition: all 0.3s ease;
	color: $color2;
	&:hover, &:focus {
		color: inherit;
	}
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style-type: none;
}
h2, h3 {
	font-family: 'Teko', sans-serif;
	font-weight: normal;
}
.protectedPage {
	width: 11.5px;
	height: 14px;
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	background-size: cover;
	background-image: url('../images/lock-dark.png');
	background-position: center center;
}
.clock {
	display: none;
}
.clearfix, .clear {
	@include clearfix();
}
.FBLike, .Tweet {
	iframe {
		margin: 5px 0 0;
	}
}
iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content_txt {
	@include clearfix();
}
caption {
	text-align: center;
	color: inherit;
	padding: 0;
}
input[type="submit"] {
	cursor: pointer;
}
input[type="file"] {
	display: none;
}
input[type="text"], input[type="password"] {
	border: 1px solid #f5684e;
	height: 43px;
	line-height: 43px;
	padding: 0 10px;
	font-size: 1.6rem;
	color: $basic;
}
input[type="submit"], input#btnFilePos {
	transition: all 0.3s ease;
	background-color: #f1310e;
	color: #000;
	text-transform: uppercase;
	font-size: 1.7rem;
	line-height: 17px;
	padding: 9px 27px;
	border: 0;
	&:hover, &:focus {
		text-decoration: none;
		background-color: $color2;
	}
}
.keyboard-outline {
	outline: 2px solid red !important;
	outline-offset: 2px !important;
	text-decoration: none !important;
	&.button {
		outline-color: $basic !important;
	}
}
.button {
	&:focus, &:hover {
		text-decoration: none;
	}
}
.dropdown-menu {
	float: none;
	border: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	width: auto;
	& > li {
		& > a {	
			white-space: normal;
		}
	}
}
.radio {
	margin: 0;
	& + .radio {
		margin: 0;
	}
	label, input[type="radio"] {
		position: static;
		padding: 0;
		margin: 0;
	}
	input[type="radio"] {
		margin: 0 0 0 5px !important;
	}
}
.heading, #content_txt > h2 {
	font-family: 'Shadows-into-light', serif;
	font-size: 2.6rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 30px;
	padding: 0 0 15px;
	display: block;
}
.clock-container {
	display: none;
}
label, .label {
	padding: 0;
	margin: 0;
	color: $basic;
	font-size: 1.6rem;
	font-weight: 400;
}
th {
	text-align: center;
}
@media (min-width: 992px) {
	.visible-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	.hidden-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.visible-mobile {
		display: block;
	}
}