@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin retina() {
	@media (min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 1.5dppx) {
	   @content;
	}
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular.woff') format('woff'), 
    url('../fonts/sourcesanspro-regular.ttf') format('truetype'), 
    url('../fonts/sourcesanspro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url('../fonts/sourcesanspro-semibold.eot');
    src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-semibold.woff') format('woff'), 
    url('../fonts/sourcesanspro-semibold.ttf') format('truetype'), 
    url('../fonts/sourcesanspro-semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/sourcesanspro-bold.eot');
    src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-bold.woff') format('woff'), 
    url('../fonts/sourcesanspro-bold.ttf') format('truetype'), 
    url('../fonts/sourcesanspro-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shadows-into-light';
    src: url('../fonts/shadowsintolighttwo-regular.eot');
    src: url('../fonts/shadowsintolighttwo-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/shadowsintolighttwo-regular.woff') format('woff'),
         url('../fonts/shadowsintolighttwo-regular.ttf') format('ttf'),
         url('../fonts/shadowsintolighttwo-regular.svg#shadows_into_light_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Teko-bold';
    src: url('../fonts/teko-bold.eot');
    src: url('../fonts/teko-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teko-bold.woff') format('woff'),
         url('../fonts/teko-bold.ttf') format('ttf'),
         url('../fonts/teko-bold.svg#tekobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Teko-medium';
    src: url('../fonts/teko-medium.eot');
    src: url('../fonts/teko-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teko-medium.woff') format('woff'),
         url('../fonts/teko-medium.ttf') format('ttf'),
         url('../fonts/teko-medium.svg#tekomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Teko';
    src: url('../fonts/teko-regular.eot');
    src: url('../fonts/teko-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teko-regular.woff') format('woff'),
         url('../fonts/teko-regular.ttf') format('ttf'),
         url('../fonts/teko-regular.svg#teko_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Teko-semibold';
    src: url('../fonts/teko-semibold.eot');
    src: url('../fonts/teko-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teko-semibold.woff') format('woff'),
         url('../fonts/teko-semibold.ttf') format('ttf'),
         url('../fonts/teko-semibold.svg#tekosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chalk';
    src: url('../fonts/chalk.eot');
    src: url('../fonts/chalk.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chalk.woff') format('woff'), 
    url('../fonts/chalk.ttf') format('truetype'), 
    url('../fonts/chalk.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}